body {
    color: $color-primary;
    font-family: $font-roboto;
    font-size: 1.8rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.heading-primary { 
    font-size: 5.4rem; 

    @include respond(tab-land) { font-size: 4rem; }

    @include respond(tab-port) {  font-size: 3rem; }
}

.heading-secondary {
    &--slim { 
        font-size: 4.8rem; 
        @extend %font-inherit;

        @include respond(tab-port) { font-size: 3rem; }

        @include respond(phone) { font-size: 2.5rem; }
    }
}

.heading-tertiary {
    line-height: 140%;
    
    &--thick { font-weight: 700; }
    &--thin { font-weight: 400; }
    &--slim { @extend %font-inherit; }
}

.heading-quaternary {
    font-size: 2rem;
    @extend %font-inherit;
}

.heading-quinary {
    color: $color-white;
    font-size: 1.4rem;
    @extend %font-inherit;
}

.paragraph { 
    line-height: 145%; 

    @include respond(tab-land) { font-size: 1.6rem; }
    @include respond(tab-port) { font-size: 1.4rem; }
}



