.burger {
    display: none;
    height: 3rem;
    width: 3rem;
    padding: .9rem .6rem;
    border-radius: $border-3;
    border: .1rem solid $color-grey-dark-10;
    cursor: pointer;

    @include respond(tab-land) {
        display: block;
    }

    & span {
        display: block;
        height: .2rem;
        width: 1.6rem;
        margin-top: .4rem;
        background-color: $color-grey-dark-10;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: inherit;
        }

        &::before { top: .6rem; }
        &::after { top: -.6rem; }
    }
}