.news-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-left: 2.5rem; 

    @include respond(tab-land) {
        margin-left: 0;
    }
}

.news {
    display: flex;

    position: relative;
    max-width: 75.4rem;
    background-color: $color-white;
    border-radius: $border-6;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba($color-black, .1);

    @include respond(phone-small) {
        border-radius: 0;
    }

    &__sidebar {
        display: flex;
        justify-content: center;
        flex: 0 0 8%;

        background-color: $color-grey-light-1;

        @include respond(phone) {
            display: none;
        }
    }

    &__like {
        margin-top: 5rem;
    }

    &__content {
        width: 100%;
        padding: 1.7rem 2rem 0 2rem;

        @include respond(tab-land) {
            padding: 1.7rem 2rem 0 2rem;
        }

        @include respond(phone-small) {
            padding: 1.4rem 1.4rem 0 1.4rem;
        }
    }

    &__shape, &__nav {
        width: 50rem;
    }

    &__nav {
        @include respond(phone-small) {
            width: 70vw;
        }
    }

    &__shape {
        position: relative;
        height: 28.9rem;
        border-radius: $border-3;
        overflow: hidden;

        @include respond(phone-small) {
            height: auto;
            width: 100%;
        }
    }

    &__caption,
    &__photo,
    &__item,
    &__link,
    &__icon,
    &__icon-item {
        transition: $transition;
    }

    &__caption {
        color: $color-white;
        position: absolute;
        font-size: 2.5rem;
        top: 16rem;
        left: 21rem;
        opacity: 0;
        backface-visibility: hidden;
    }

    &__photo {
        width: 100%;
        transform: translateX(1rem) scale(1.4);

        @include respond(tab-land) {
            transform: none;
        }
    }

    &__nav-bar {
        display: flex;
        justify-content: space-between;

        @include respond(phone-small) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    &__item {
        padding: .6rem .9rem;
        border: solid .1rem $color-grey-light-2;
        border-radius: $border-3;
        list-style: none;
        font-size: 1.5rem;
        cursor: pointer;

        @include respond(phone-small) {
            &:nth-child(1) {
                margin: 0 1.8rem 1.4rem 0;
            }

            &:nth-child(2) {
                margin: 0 1.8rem 0 0;
            }
        }

        &:hover,
        &:active {
            color: $color-white;
            background-color: $color-grey-light-1;
            border: solid .1rem transparent;
        }
    }

    &__link, &__icon-item, &__user-add a {
        text-decoration: none;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-dark-3;

            &:hover,
            &:active {
                color: $color-grey-dark-2;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        height: 5rem;

        @include respond(phone) {
            flex-direction: column;
            height: 10rem;
        }
        
        &:before {
            position: absolute;
            content: '';
            bottom: 5rem;
            right: 0;
            width: 92%;
            border-top: solid .1rem $color-grey-light-2;

            @include respond(phone) {
                width: 100%;
                bottom: 5.5rem;
            }
        }
    }

    &__icon-box {
        display: flex;
        align-items: center;
        transform: translateX(-2rem);

        height: 100%;

        @include respond(phone) {
            position: absolute;
            bottom: 0;
            height: 5.5rem;
            order: 2;

            transform: translateX(0);
        }
    }

    &__icon-item {
        &:link,
        &:visited {
            display: flex;
            align-items: center;

            height: 100%;
            padding: 0 2rem;
            border-right: solid .1rem $color-grey-light-2;
            outline: none;

            &:hover,
            &:active {
                background-color: rgba($color-grey-dark, .3);
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    &__icon {    
        fill: $color-grey-dark-5;
        height: 2rem;
        width: 2rem;
        
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__figure {
        color: $color-grey-dark-5;
        font-size: 1.5rem;
    }

    &__user-add {
        color: $color-grey-dark-3;
        margin-left: auto;
        font-size: 1.4rem;

        @include respond(phone) {
            &:before {
                position: absolute;
                content: '';
                bottom: 11rem;
                right: 0;
                width: 100%;
                border-top: solid .1rem $color-grey-light-2;
            }

            padding-top: 1rem;
            margin-left: 0;
        }

        & a {
            &:link,
            &:visited {
                color: $color-black;
            }
        }
    }
}

