.page-numbers {
    @include respond(tab-land) {
        display: flex;
        justify-content: center;
    }

    &__box {
        display: flex;
        align-items: center;

        list-style: none;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 5rem;
        width: 5rem;
        background-color: $color-grey-light-4;
        border-radius: $border-6;
        transition: $transition;
        cursor: pointer;

        @include respond(phone) {
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                display: none;
            }
        }

        @include respond(phone-small) {
            height: 4rem;
            width: 4rem;
        }

        &:hover:not(:nth-child(6)) {
            background-color: rgba($color-grey-dark-1, .3);
        }

        &:nth-child(10) {
            &:hover {
                background-color: transparent;
            }
        }

        &:not(:last-child) {
            margin-right: .7rem;
        }

        &--active {
            background-color: rgba($color-grey-light-4, .3);
        }

        &--border {
            border: .1rem solid $color-grey-light-4;
            background-color: transparent;
        }
    }

    &__link {
        color: $color-grey-dark-2;
        font-size: 1.8rem;
        font-weight: bold;
        outline: none;
    }
}

