.search {
    display: flex;

    width: 26rem;
    height: 4rem;
    background-color: $color-grey-dark-6;
    border-radius: $border-3;

    @include respond(tab-port) {
        display: none;
    }

    &__input {
        color: inherit;
        font-weight: bold;
        margin-left: 2rem;
        border: 0;
        background-color: transparent;
    }

    &--white {
        margin: 0 auto;
        height: 3rem;
        width: 35.5rem;
        background-color: transparent;
        border: .1rem solid $color-grey-light-3;
    }
}