.blog {
    &__popular { 
        padding: 3.2rem 0 5.6rem;
        border-bottom: solid .1rem $color-gray; 
    }

    &__all { padding: 5.6rem 0 9.6rem; }

    &__slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}