.contact-us {
    padding-bottom: 9.6rem;

    &__touch {
        display: flex;
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;

        margin-top: 5.6rem;
        padding-right: 10rem;
    }

    &__img { margin-bottom: 5.6rem; }

    &__item {
        display: flex;
        align-items: center;
        font-size: inherit;
        margin-bottom: 1.6rem;
        opacity: .6;
    }

    &__icon { margin-right: 1.9rem; }

    &__right { flex: 0 0 50%; }
}
