.footer {
    color: $color-white;
    background-color: $color-blue-2;
    border-top-right-radius: 15rem;
    position: relative;
    z-index: 1;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 9.1rem 0 10rem;

        &::after {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            width: 82%;
            border: solid .1rem $color-gray;
            opacity: .2;
        }
    }

    &__bottom {
        display: flex;

        padding: 9.8rem 0 0;
    }

    &__list {
        display: flex;
        flex-direction: column;

        list-style: none;

        &:first-child { 
            width: 50%; 
            transform: translateY(1.5rem)
        }

        &:nth-child(-n+2) { padding: 0 10rem 0 0; }
    }

    &__title {
        font-weight: 700;
        font-size: 2.8rem;

        &:nth-child(1) { font-size: 2rem; }
    }

    &__box {
       display: flex;

       & a {
           &:link,
           &:visited {
               color: $color-white;
           }
       }

       & div {
           &:not(:last-child) { margin-right: 1.6rem; }
       }

       &:not(:last-child) { margin-bottom: 2.4rem; }

       &:first-child {
            align-items: center;
            margin-bottom: 3.2rem;
        }
    }

    &__rights { 
        opacity: .4; 
        padding: 6.4rem 0;
    }
}
