.header {
    height: 100vh;
    padding: 3.2rem 5rem;
    background: linear-gradient(0deg, rgba($color-blue-4, .2) 8.84%, rgba($color-white, .2) 31.12%);
    background-size: cover;
    position: relative;
    z-index: 1;

    &__inner {
        height: 95%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__text-box {
        flex: 0 0 55%;
    }

    &__hero {
        position: absolute;
        right: 1%;
        width: 48%;
        z-index: 1;
    }
}



