.section-title {
    display: flex;
    align-items: center;

    padding: 5rem 0;
    background-size: cover;

    &--vertical {
        flex-direction: column; 
        align-items: flex-start;

        padding: 0;
        width: 60%;
    }

    &__paragraph {
        flex: 0 0 60%;

        font-size: 1.8rem;
        opacity: .6;

        &--white { color: $color-white; }
    }
}

