.section-header {
    padding: 5rem 0;
    background: url(../img/blog/blog-bg.svg) center no-repeat;
    background-size: cover;
    text-align: center;

    &__paragraph {
        flex: 0 0 60%;

        font-size: 1.8rem;
        opacity: .6;
    }

    &__box,
    &__paragraph {
        &--white { color: $color-white; }
    }
}

