.section-title {
    display: flex;
    align-items: center;

    padding: 5rem 0;

    @include respond(tab-port) {
        display: inherit;
        padding: 0;
        text-align: center;
    }

    &--vertical {
        flex-direction: column; 
        align-items: flex-start;

        padding: 0;
        width: 60%;

        @include respond(tab-port) {
            width: 100%;
            align-items: center;
        }
    }

    &__paragraph {
        flex: 0 0 60%;

        font-size: 1.8rem;
        opacity: .6;

        @include respond(tab-port) { margin-top: 2rem; }

        &--white { color: $color-white; }
    }
}

