.figure {
    position: relative;
    background-color: $color-black;
    overflow: hidden;

    &:hover {
        & img {
            opacity: 1;
            transform: scale(1.1);

            @media only screen and (max-width: 47.75em),
                   only screen and (hover: none) { 
                opacity: .8;
                transform: scale(1);
            }
        }
    }

    & img { 
        display: block;
        width: 100%; 
        opacity: .8;
        transition: all .5s;
    }

    & figcaption {
        color: $color-white;
        position: absolute;
        bottom: 2rem;
        left: .5rem;
        text-shadow: 2px 2px 6px rgba(130, 130, 130, 0.5);
    }
}