.icon-box {
    list-style: none;

    li,
    a { display: inline-block; }

    li {
        &:not(:first-child) { margin-left: 3rem; }
    }

    & a { 
        &:link,
        &:visited { text-decoration: none; }
    }

    &__icon {
        fill: $color-gray-dark;
        height: 3rem;
        width: 3rem;
        transition: all .5s;

        &:hover {
            fill: $color-gold;

            @media only screen and (max-width: 47.75em),
                   only screen and (hover: none) { 
                fill: $color-gray-dark;
            }
        }
    }
}