.cookies {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    animation: fadeUpCookies .5s;

    display: none;
    box-shadow: 0 2rem 2rem rgba($color-black, .4);
    background-color: $color-black;
    transform: translate(-50%, 0);
    color: $color-white;
    border-radius: 1rem;
    position: fixed;
    padding: 2.5rem;
    min-height: 60%;
    z-index: 4;
    width: 80%;
    left: 50%;
    top: 20%;

    @include respond(tab-land) { min-height: initial; }

    @include respond(phone) {
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: initial;
        transform: initial;
    }
    
    &__header,
    &__btn-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn-box {
        @include respond(phone-small) { flex-direction: column; }
    }

    &__btn { 
        @include respond(phone-small) {
            width: 100%; 
            text-align: center;

            &:not(:last-child) { margin-bottom: 2rem; }
        }
    }

    &__close { 
        transform: translateY(-.4rem);
        font-size: 3rem; 
        cursor: pointer;
    }

    &__paragraph {
        line-height: 185%;
        font-size: 2rem;

        @include respond(tab-land) {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            font-size: 2.5vh;
            margin-bottom: 0;
        }
    }
}

// JS
.cookies-active {
    display: flex;
    animation: fadeUpCookies .5s;

    @include respond(tab-port) {
        animation: initial;
    }
}

