.mob-nav {
    color: $color-white;
    display: none;
    font-weight: 100;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding-top: 4.5rem;
    text-align: center;
    background-color: $color-primary;
    flex-direction: row-reverse;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    text-transform: uppercase;

    @include respond(tab-port) {
        display: block;
    }

    @include respond(phone-small) {
        width: 100%;
        font-size: 1.4rem;
    }

    &__add-nav {
        display: none;
        list-style: none;

        li:first-child { 
            padding-top: 2rem;
            margin-top: 2rem;
            border-top: solid .1rem rgba($color-gray-light, .1); 
        }

        li:nth-child(11) { font-weight: 700; }
    }

    &__close {
        position: absolute;
        font-size: 3rem;
        right: 1.5rem;
        top: 0;

        @include respond(phone-small) {
            font-size: 2rem;
        }
    }

    li {
       cursor: pointer; 

        &:not(:last-child) { 
            margin-bottom: 2rem; 
            padding-bottom: 2rem;
            border-bottom: solid .1rem rgba($color-gray-light, .1);
        }
    }

    a { 
        color: inherit; 
        text-decoration: none;
    }
}

//JS
.add-nav-active { display: block; }