.shadow {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba($color-primary, .5);
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;

    @include respond(tab-port) {
        display: block;
    }
}