.sidebar {
    background-color: $color-primary;
    color: $color-white;
    grid-row: 1 / span 6;
    position: relative;

    @include respond(tab-port) { display: none; }

    & svg,
    & span { transition: all .2s; }

    & svg {
        fill: $color-white;
        height: 2rem;
        width: 2rem;

        &:hover { fill: $color-gray-light; }

        &:hover span { color: $color-gray-light; }
    }

    &__sticky { 
        left: 50%;
        transform: translateX(-50%);
    }

    &__sticky {
        position: absolute;
        top: 25rem;
    }

    & li {
        display: grid;
        justify-items: center;
        cursor: pointer;

        &:not(:last-child) { margin-bottom: 1rem; }
    }

    &__support-cta {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    }
}

//JS
.sticky { 
    position: fixed !important; 
    left: 2rem !important;
    top: 2% !important;
}