.touch {
    position: fixed;
    max-width: 30rem;
    left: 4rem;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
    border-top-right-radius: 1rem;
    transform: translateY(93%);
    transition: all .5s;

    @include respond(tab-port) { left: 0; }

    @include respond(phone) {
        border-top-right-radius: 0;
        max-width: 100%;
    }

    &__header {
        text-align: center;
        color: $color-white;
        font-weight: 700;
        background-color: $color-primary;
        padding: 1rem;
        opacity: .9;
        cursor: pointer;

        @include respond(phone-small) { 
            border-top: solid .1rem $color-white;
            opacity: 1; 
        }

        span { 
            display: inline-block;
            padding-right: 2rem; 

            animation: moveLeftRight 2s infinite;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;
        background-color: $color-white;
        padding: 2rem;
    }

    &__img {
        width: 100%; 
        border-radius: 50%;
    }

    &__text-box {
       grid-column: 2 / 3;
       align-self: center;
       justify-self: center;

       text-align: center;
    }

    &__icon-box {
        display: flex;

        margin-left: auto;
        list-style: none;
    }

    &__item { 
        margin-left: 1rem;

        svg { 
            height: 2.8rem;
            width: 2.8rem;
        }
    }

    &__red { fill: $color-red; }
    &__blue {  fill: $color-blue; }

    &__name { margin-bottom: 1rem; }

    input,
    textarea { 
        border-radius: 1rem;
        border: solid .1rem $color-gray-light;
        outline: none;
    }

    label { font-weight: 100; }

    input { 
        height: 3rem; 
        padding: 0 2rem;
    }

    input:invalid { border: $color-red; }

    textarea { 
        resize: none; 
        padding: 2rem; 
    }

    input,
    textarea,
    label,
    &__btn,
    &__footer { grid-column: 1 / -1; }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__btn { cursor: pointer; }
}

//JS
.form-active { transform: initial; }




