<!DOCTYPE html>
html(lang="en" data-theme="dark")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Vocabulary App will help you improve your English and help me to practice some fundamental JS features and a MVC approach")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Vocabulary App(ES5)
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap")
        link(rel="stylesheet", href="css/main.compress.css")
    body 
     // layouts(container)
     .container
      .container__content
       .container__profile
        // components(btn)
        .btn.mb-30px
         input(type="checkbox" name="theme").btn__checkbox#toggle
         label(for="toggle").btn__shape
          span.btn__circle &nbsp;
        // components(user-panel)
        figure.user-panel
         .user-panel__header-box
          img(src="img/user/header.jpg", alt="user header")
          .user-panel__picture-box
           img(src="img/user/picture.jpg", alt="user picture")
         ul.user-panel__text-box
          // base(typography)
          li
           h1.heading-primary.pt-30px
            span Vlad Shum
            span Learn English
            // components(cta)
          li
           a(href="#").cta Account
            i.icon.ion-person
        h3.heading-secondary %Date%
       main.container__vocabulary
        // components(vocabulary-panel)
        h2.heading-tertiary.mb-30px Total Words:
         span.heading-tertiary--number 12
         span.heading-tertiary--delete Delete All
          i.icon.ion-ios-trash
        .vocabulary-panel 
         figure.vocabulary-panel__add
          input(type="text" placeholder="From eng").vocabulary-panel__add-from 
          input(type="text" placeholder="Into rus").vocabulary-panel__add-into
          .vocabulary-panel__btn
           i.icon.ion-checkmark-circled
         //components(eye)
         .eye__hide.mt-10px
           i.icon.ion-eye-disabled
         .eye__show.mt-10px
           i.icon.ion-eye
         .vocabulary-panel__box 
          // components(item)
          //ul.item#word-1.mt-10px
           li 
            .item__from Friend
           li
            .item__into Друг
           li
            button.item__delete 
              i.icon.ion-close-circled
       // layouts(footer)
       footer.footer
        ul
         li Made by Vlad Shum
          a(href="#")
           i.icon.ion-social-linkedin
          a(href="#")
           i.icon.ion-social-github
         li @WORDS VOCABULARY APP(ES5)
          i.icon.ion-heart
     script(src="js/app.min.js")