.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: $color-gray;
    box-shadow: 0 1.5rem 2rem rgba($color-gray-dark, .8);

    svg { margin-left: 2rem; }

    svg,
    &__btn svg {
        height: 2.8rem;
        width: 2.8rem;
    }

    &__hide { 
        @include respond(phone) { display: none; }
    }

    &__day,
    &__plan,
    &__btn {
        height: 5rem;
        padding: 1rem;
        font-size: 1.8rem;
        flex: 1 1 10ch;
        outline: none;
        margin: 2rem;
        border: solid .1rem $color-gray-dark;
    }

    &__plan,
    &__btn { border-radius: .5rem; }

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;

        @media only screen and (min-width: 62.5em),
               only screen and(hover: none) {
            &:hover svg { animation: write 1s infinite; }

            &:hover::after {
                opacity: 1;
                visibility: visible;
                animation: dots 1s infinite;
            }
        }

        &::after {
            display: block;
            position: absolute;
            content: '...';
            right: 3.8rem;
            height: .1rem;
            bottom: 3rem;
            width: 1rem;
            opacity: 0;
            visibility: hidden;
        }

        svg { transition: all .4s; }
    }
}
