.gifts {
    grid-column: center-start / center-end;
    
    display: grid;
    align-items: center;
    justify-items: center;

    padding: 9.6rem 0;

    @include respond(tab-port) { padding: 5rem 0; }

    &__items-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: column;
        grid-gap: 3rem;

        margin-top: 6.4rem;
        list-style: none;

        @include respond(tab-port) { 
            grid-template-rows: repeat(2, 1fr); 
            grid-template-columns: repeat(2, 1fr); 
        }
    }
}