.about-bar {
    grid-area: 3 / 5 / 4 / 11;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;

    &__item {
        &:link,
        &:visited {
            display: grid;
            justify-content: center;
            align-content: center;
        
            height: 5rem;
            width: 5rem;
            padding: 2rem;
            background-color: $color-mint;
            border-radius: 50%;
            transition: all .3s;

            @include respond(phone) {
                height: 4rem;
                width: 4rem;
            }

            &:hover {
                transform: translateY(-1rem);

                @include respond(tab-port) {
                    transform: none;
                }
            }
        }
    }

    &__icon {
        fill: $color-white;
        height: 2rem;
        width: 2rem;

        @include respond(big-desktop) {
            transform: translate(.2rem, .2rem);
        }
    }
}