.blog-item {
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;

    border: solid .1rem $color-grey-light-1;
    position: relative;
    cursor: pointer;

    &:hover &__content {
        opacity: 1;
    }

    & > *:not(:first-child) {
        padding: 1rem;
    }

    &__photo {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    &__date {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: end;

        height: 5rem;
        width: 5rem;
        background-color: $color-mint;
        margin-left: 5rem;
        transform: rotate(45deg) translateY(70%);
        text-align: center;
        position: relative;

        & span {
            display: grid;
            align-self: center;
            justify-self: center;

            color: $color-white;
            position: absolute;
            display: block;
            transform: rotate(-45deg) translateY(-.4rem);
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.1;

            & sub {
                display: block;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    &__description {
        font-size: 1.4rem;
        align-self: end;
    }

    &__stats {
        align-self: end;
        grid-row: 4 / 5;

        border-top: solid .1rem $color-grey-light-1;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0;

        & span {
            &::after {
                content: '';
                margin: 0 1rem 0 1rem;
                border: .1rem solid $color-grey-light-1;
            }
        }
    }

    &__content {
        display: grid;
        justify-content: center;
        align-content: center;

        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $color-white;
        opacity: 0;
        transition: all .5s;
    }

    &__btn {
        margin-bottom: 2rem;
    }
}