.burger {
    cursor: pointer;
    height: 3.5rem;
    width: 4rem;
    border: none;
    background: transparent;
    position: relative;

    & span {
        @include burgerLineOptions;
    }

    & span::before,
    & span::after {
        content: "";
        position: absolute;
        @include burgerLineOptions;
    }

    & span::before {top: .5rem}
    & span::after {bottom: .5rem;}
}
