.btn {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        width: 100%;
        text-transform: uppercase;
        font-family: $font-raleway;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-white;
        background-color: transparent;
        border: solid .2rem $color-white;
        padding: 1.5rem 2.5rem;
        position: relative;
        outline: 0;
        transition: all .5s;

        @include respond(big-desktop) {
            font-size: 2rem;
        }

        &::-moz-focus-inner {
            border: none;
        }

        &:hover {
            background-color: $color-mint;

            @include respond(tab-port) {
                background-color: transparent;
            }
        }
    }

    &--black {
        color: $color-black;
        border: solid .2rem $color-black;
    }

    &--small {
        padding: 1rem 2.5rem;
    }

    &--form {
        width: 100%;
        color: $color-mint-dark;
        font-weight: 600;
        border: solid .4rem $color-mint-dark;
        text-align: center;

        &:hover::after {
            background-color: $color-white;
        }

        &:hover {
            color: $color-white;
            background-color: $color-mint-dark;
        }

        &::after {
            position: absolute;
            display: block;
            content: '';
            height: 2.3rem;
            width: 2.3rem;
            top: 30%;
            -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M11 16.5v-3.5h-8v-6h8v-3.5l6.5 6.5-6.5 6.5z' /></svg>");
            mask-size: cover;
            background-color: $color-mint-dark;
            background-image: none;
        }
    }
}