.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-column: 3 / 13;

    @include respond(tab-port) {
        @include columnsFullPosition;
    }

    &__item {
        position: relative;
        display: grid;
        cursor: pointer;
        transition: all .3s;
        overflow: hidden;

        &:hover .portfolio-grid__content {
           opacity: 1;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__content {
        display: grid;
        justify-items: center;
        align-content: center;

        color: $color-white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color-blue, 0.5);
        transition: all .5s;
        z-index: 2;
        opacity: 0;
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 400;
    }
}