.progress-item {
    display: grid;
    justify-items: center;
    position: relative;

    &:nth-child(1) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 75) / 100);
        }
    }

    &:nth-child(2) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 68) / 100);
        }
    }

    &:nth-child(3) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 50) / 100);
        }
    }

    &:nth-child(4) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 95) / 100);
        }
    }

    &:nth-child(5) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 80) / 100);
        }
    }

    &:nth-child(6) {

        & circle:nth-child(2) {
            stroke-dashoffset: (440 - (440 * 97) / 100);
        }
    }

    & > * {    
        color: $color-white;
    }

        &__percent {
            & svg {
                position: relative;
                height: 15rem;
                width: 15rem;

                @include respond(big-desktop) {
                    height: 14rem;
                    width: 14rem;
                }

                @include respond(tab-land) {
                    height: 15rem;
                    width: 15rem;
                }

                @include respond(tab-port) {
                    height: 19rem;
                    width: 18.5rem;
                }

            & circle {
                width: 100%;
                height: 100%;
                fill: none;
                opacity: .5;
                stroke: #fff;
                stroke-width: 8;
                stroke-linecap: round;
                transform: translate(.5rem, .5rem);

                @include respond(big-desktop) {
                    transform: translate(1.1rem, 1.1rem);
                }

                @include respond(tab-port) {
                    transform: translate(12%, 15%);
                    top: 50%;
                    left: 50%;
                }
            }

            & circle:nth-child(2) {
                opacity: 1;
                stroke-dasharray: 440; 
            }
        }
    }

    &__number {
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 3.5rem;
        font-weight: 400;
        position: absolute;
        right: 0%;
        bottom: 8%;
        height: 100%;
        width: 100%;
        transition: all .3s;
        cursor: pointer;

        @include respond(tab-port) {
           right: 0;
           bottom: 5%;
        }

        &:hover {
            transform: scaleY(1.3);

            @include respond(tab-port) {
                transform: none;
            }
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
    }
}
