.study-item {
    display: grid;
    grid-gap: 4rem;

    &__top {
        display: grid;
        justify-content: center;

        color: $color-white;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;

        @include respond(tab-port) {
            font-size: 2rem;  
        } 

        @include respond(phone) {
            font-size: 1.4rem;  
        } 

        & > * {
            padding: .2rem 2rem .2rem 2rem;
        }
    }

    &__years {
        background-color: $color-mint;
    }

    &__degree {
        background-color: $color-mint-medium;
    }

    &__main {
        display: grid;
        grid-gap: 1rem;

        text-align: center;

        background-color: $color-mint;
        border-bottom: solid .2rem $color-grey-light-2;
        position: relative;
        padding-top: 1rem;
        transition: all .3s ease-out;
        cursor: pointer;

        @include respond(tab-port) {
            grid-gap: 2rem;
        }

        @include respond(phone) {
            font-size: .8rem;  
        } 

        &:hover {
            transform: scale(1.1);

            @include respond(tab-port) {
                transform: none;
            }
        }
    
        & > * {
            padding: 0 2rem 0 2rem;
        }

        &::after {
            position: absolute;
            content: "";
            height: 3rem;
            width: 5rem;
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-mint;
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }
    }

    &__university {
        color: $color-white;
        font-weight: 700;
        font-size: 1.5rem;

        @include respond(tab-port) {
            font-size: 2rem;  
        } 

        @include respond(phone) {
            font-size: 1.4rem;  
        } 
    }

    &__description {
        background-color: $color-white;
        color: $color-grey-light-2;
        font-weight: 400;
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include respond(tab-port) {
            font-size: 1.8rem;  
        } 

        @include respond(phone) {
            font-size: 1.4rem;  
        } 
    }
}