.work-item {
    display: grid;
    text-align: center;
    transition: all .3s ease-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        @include respond(tab-port) {
            transform: none;  
        }
    }

    &__top {
        padding: .2rem;
        background-color: $color-mint;
        color: $color-white;
        font-weight: 700;
        font-size: 1.5rem;

        @include respond(tab-port) {
            padding: .8rem
        }

        @include respond(phone) {
            font-size: 1.5vh;  
        } 
    }

    &__main {
        display: grid;
        background-color: $color-white;
        padding: 0 2rem 2rem 2rem;
        border-bottom: solid .2rem $color-grey-light-2;
    }

    &__position {
        padding-bottom: 1rem;
        color: $color-grey-dark-1;
        font-weight: 600;
        font-size: 1.2rem;

        @include respond(tab-port) {
            font-size: 2rem;  
        }      
        
        @include respond(phone) {
            font-size: 1.2rem;  
        } 
    }

    &__description {
        color: $color-grey-light-2;
        font-size: 1.5rem;
        font-weight: 400;

        @include respond(tab-port) {
            font-size: 1.8rem;  
        } 

        @include respond(phone) {
            font-size: 1.4rem;  
        } 
    }
}