.cell-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @include widthHeight(3.2rem, 3.2rem);

    cursor: pointer;

    & > * {
        @include widthHeight(.4rem, .4rem);
        @extend .transition-all;
        
        background: $color-primary;

        align-self: center;
    }

    .animation-cross-left-js {
        transform: rotate(-45deg) translateX(1rem) translateY(1rem);
        grid-area: 1 / 1 / 2 / 2;
        height: 3.2rem;

        @extend .transition-all
    }

    .animation-cross-right-js {
        transform: rotate(45deg) translateX(-.5rem) translateY(.5rem);
        grid-area: 1 / 3 / 2 / 4;
        height: 3.2rem;

        @extend .transition-all;
    }

    .animation-top-js {
        @include changeGridDirection(translateY(-2rem));

        @extend .transition-all;
    }

    .animation-left-js {
        @include changeGridDirection(translateX(-2rem));

        @extend .transition-all;
    }

    .animation-right-js {
        @include changeGridDirection(translateX(2rem));

        @extend .transition-all;
    }

    .animation-bottom-js {
        @include changeGridDirection(translateY(2rem));

        @extend .transition-all
    }

    .animation-cross-none-js {
        opacity: 0;
        
        @extend .transition-all
    }
}