.slider {
    overflow: hidden;

    &__track {
        display: flex;
        height: 100%;

        @extend .transition-all;
    }

    &__item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: $color-primary;

        color: $color-primary-2;
        position: relative;
        min-width: 100%;

        @include respond(desktop) {
            display: grid;
            align-items: center;

            grid-template-columns: 1fr;
        }
    }

    &__info { 
        padding: 5.6rem 0 5.6rem 5.6rem; 
        width: 100%;

        @include respond(desktop) { padding: 2.4rem 3.2rem;  }

        @include respond(phone) {
            grid-row: 2 / 3;
            grid-column: center-start / center-end;

            padding: 2.4rem 1.6rem;
        }
    }

    &__panel-count { 
        margin-bottom: 2.4rem; 
        list-style: none;

        @include respond(desktop) { margin-bottom: 1.2rem; }

        @include respond(phone) { margin-bottom: .6rem; }
    }

    &__figure,
    figcaption { 
        line-height: 2.4rem; 

        @include respond(desktop) { font-size: 1.4rem; }
    }

    &__figure { 
        display: inline-block; 

        &:not(:first-child) { margin-left: 1.4rem; }

        &--active { font-family: $font-helvetica-700; }
    }

    &__img { 
        @include respond(desktop) { display: none; }
        
        -webkit-clip-path: polygon(18% 0%, 100% 0, 100% 100%, 0% 100%); 
        clip-path: polygon(18% 0%, 100% 0, 100% 100%, 0% 100%); 
    }
}