//COLORS
$color-default: #555;

$color-white: #fff;
$color-black: #000;
$color-gray: #eee;

$color-primary: #1c81d7;

$color-red: #f50e0e;
$color-yellow: #f5ff6a;

//FONT
$font-roboto: 'Lato', sans-serif;

//TRANSITION
$transition: all .3s;

// SHADOW
$shadow: 0 .2rem .5rem rgba($color-black, .4);

