<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.compress.css")
        title SvitSoft TEST
    body 

     nav.navigation#navigation-js
       ul.language-mobile
        li
         button.link-js UA
        li
         button.link-js RU
        li
         button.link-js EN
       ul.navigation__list
        li.navigation__item
         a(href="#").navigation__link.link-js Головна
        li.navigation__item
         a(href="#").navigation__link.link-js Про компанію
        li.navigation__item
         a(href="#").navigation__link.link-js Варіанти придбання
        li.navigation__item
         a(href="#").navigation__link.link-js Варіанти інвестування
        li.navigation__item
         a(href="#").navigation__link.link-js Новини
        li.navigation__item
         a(href="#").navigation__link.link-js Документи
        li.navigation__item
         a(href="#").navigation__link.link-js Контакти
        li.navigation__item
         a(href="#").navigation__link.link-js Співробітництво
        li.navigation__item
         a(href="#").navigation__link.link-js Дизайн та розробка - <span>SvitSoft</span>

     header.header#header-js
      .header__main-box#main-box-js
       .logo Logo
       .header__language-toggler-box 
        button.btn-toggler.btn-toggler-js.mr-24px.btn-toggler--active UA
        button.btn-toggler.btn-toggler-js.mr-24px RU
        button.btn-toggler.btn-toggler-js EN

      figure.cell-icon#cell-icon-js
       span.cell-icon__cross-left#cross-left-js &nbsp;
       span.cell-icon__cross-none.figure-none-js &nbsp;
       span.cell-icon__cross-right#cross-right-js &nbsp;
       span.cell-icon__cross-none.figure-none-js &nbsp;
       span.cell-icon__cross-none.figure-none-js &nbsp;
       span.cell-icon__top#top-js &nbsp;
       span.cell-icon__right#right-js &nbsp;
       span.cell-icon__bottom#bottom-js &nbsp;
       span.cell-icon__left#left-js &nbsp;
      
     section.hero#hero-js
      .hero__grid-container.grid-container
       figure.hero__presentation
        h1.heading-primary.mb-32px Надійний<br> забудовник
        figcaption – это 7 лет успешной работы на украинском рынке. Более 700 квартир уже продано,<br> а в планах  компании построить 120 тыс. метров жилой площади.
       button.hero__button.button.button--about Про компанію
        button.hero__button.button.button--home На головну

       
       figure.hero__slider.slider#slider-container
        .slider__track#slider-track
         .slider__item#slider-item
          figure.slider__info
           ul.slider__panel-count
            li.slider__figure.slider__figure--active 01
            li.slider__figure 02
            li.slider__figure 03
            li.slider__figure 04
           h2.heading-secondary.mb-16px Акційна пропозиція №1
           figcaption Забудовник – это 5 лет успешной работы на украинском<br> рынке. Успешной работы на  украинском рынке.
          img(src="img/item-1.png", alt="item 1").slider__img

         .slider__item
          figure.slider__info
           ul.slider__panel-count
            li.slider__figure 01
            li.slider__figure.slider__figure--active 02
            li.slider__figure 03
            li.slider__figure 04
           h2.heading-secondary.mb-16px Акційна пропозиція №2
           figcaption Забудовник дає можливість автомобілістам скористатися<br> акційними умовами при купівлі паркомісць
          img(src="img/item-2.png", alt="item 2").slider__img
         
         .slider__item
          figure.slider__info
           ul.slider__panel-count
            li.slider__figure 01
            li.slider__figure 02
            li.slider__figure.slider__figure--active 03
            li.slider__figure 04
           h2.heading-secondary.mb-16px Акційна пропозиція №3
           figcaption Забудовник дає можливість всім охочим скористатися<br> знижкою при купівлі квартир
          img(src="img/item-3.png", alt="item 3").slider__img
        
         .slider__item
          figure.slider__info
           ul.slider__panel-count
            li.slider__figure 01
            li.slider__figure 02
            li.slider__figure 03
            li.slider__figure.slider__figure--active 04
           h2.heading-secondary.mb-16px Акційна пропозиція №4
           figcaption Забудовник пропонує розстрочку до 50 місяців на<br> квартири в 17-ти житлових комплексах компанії
          img(src="img/item-4.png", alt="item 4").slider__img

       .hero__btn-box 
        button.hero__btn-switch#slider-btn-prev.mr-24px 
         img(src="img/arr-left.svg", alt="arr-icon left")
        button.hero__btn-switch#slider-btn-next
         img(src="img/arr-right.svg", alt="arr-icon right")
        
     script(src="js/app-min.js")

