// COLORS
$color-mint: #52edc7;
$color-mint-light: #a3f0dd;
$color-mint-medium: #4ad7b4;
$color-mint-dark: #1abc9c;

$color-blue: #73bed2;

$color-grey-light-1: #eee;
$color-grey-light-2: #c1c1c1;

$color-grey-dark-1: #888b90;
$color-grey-dark-2: #2b2b2b;

$color-black: #000;
$color-white: #fff;

$color-orange-light: #ff9560;
$color-orange-dark: #f9671e;

$color-yellow: #f1c40f;

$color-blue: #73bed2;
$color-blue-light: #59a8ff;
$color-blue-dark: #007aff;

$color-green-light: #41fa8f;
$color-green-dark: #2ecc71;

$color-violet-light: #c561ef;
$color-violet-dark: #8e44ad;

//FONT 
$font-raleway: 'Raleway', sans-serif;
$font-lato: 'Lato', sans-serif;

$default-font-size: 1.6rem;





