.burger {
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background: transparent;
    position: relative;
    display: none;
    outline: none;

    &::-moz-focus-inner {
        border: 0;
    }

    @include respond(tab-port) {
        display: block;
    }

    & span {
        @include burgerLine;
    }

    & span::before,
    & span::after {
        content: "";
        position: absolute;
        @include burgerLine;
    }

    & span::before {top: .5rem}
    & span::after {bottom: .5rem;}
}