*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px

    @include respond(big-desktop) {
        font-size: 75%; //1rem=12px
    }

    // @include respond(tab-land) {
    //     font-size: 56.25%; //1rem=9px
    // }

    // @include respond(tab-port) {
    //     font-size: 60%; //1rem=8px
    // }

    // @include respond(tab) {
    //     font-size: 31.25%; //1rem=6px
    // }

    // @include respond(phone) {
    //     font-size: 32%; //1rem=6px
    // }
}

::selection {
    background-color: $color-mint-medium;
    color: $color-white;
}
