:root {
    // FONT
    --font-roboto: 'Roboto', sans-serif;
    
    // COLORS
    --color-black: #000;
    --color-white: #fff;

    --color-gray: #989797;
    --color-gray-1: #676767;
    --color-gray-2: #525457;
    --color-gray-dark: #38393d;
    --color-gray-light: #3e4346;

    --color-mint-1: #85f7af;
    --color-mint-2: #90eafb;
    --color-mint-dark: #30655b;
    --color-mint-light: #37b29a;

    --color-blue: #3979e1;
    --color-red: #cd2f31;

    // BORDER RADIUSES
    --b-5px: .5rem;
    --b-10px: 1rem;

    // BOX SHADOW
    --box-shadow-light: 1rem 1rem 2rem rgba(0,0,0,.2);
}

html[data-theme='light'] {
    // COLORS
    --color-black: #000;
    --color-white: #000;

    --color-gray: #000;
    --color-gray-1: #fff;
    --color-gray-2: #eee;
    --color-gray-dark: #d1d1d1;
    --color-gray-light: #fff;

    --color-mint-1: #fff;
    --color-mint-2: #fff;
    --color-mint-dark: #000;
    --color-mint-light: #000;

    --color-blue: #d1d1d1;
    --color-red: #cd2f31;

    // BORDER RADIUSES
    --b-5px: .5rem;
    --b-10px: 1rem;

    // BOX SHADOW
    --box-shadow-light: 1rem 1rem 2rem rgba(0,0,0,.2);
}
