.logo {
    height: 3.2rem;
    width: 3.2rem;
    color: $color-primary;
    font-size: 2.1rem;
    font-weight: 900;
    border: solid .3rem $color-blue-2;
    text-align: center;
    position: relative;
    background-color: $color-white;
    cursor: pointer;

    &:hover {
        color: $color-white;
        background-color: $color-blue-2;

        &::before {
            left: -.3rem;
            box-shadow: 0 .2rem 1rem rgba($color-black, .3);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -.3rem;
        left: -2rem;
        background-color: $color-blue-2;
        z-index: -1;
        transition: $transition-slowly;
    }

    &--footer {
        font-size: 1.9rem;
        height: 2.9rem !important;
        width: 2.9rem !important;

        &::before {
            top: -.1rem;
            height: 2.6rem !important;
            width: 2.6rem !important;
            background-color: $color-blue-6;
        }
    }
}

.logo,
.logo::before {
    height: 3.2rem;
    width: 3.2rem;
    transition: $transition-slowly;
    border-radius: 50%;
}