.map {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
    height: 0;
}
.map iframe {
    width: 94rem;
    height: 48rem;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border:0;
}