.news-box {
    display: flex;
    flex-wrap: wrap;
}

.news {
    display: flex;

    @include respond(tab-port) { flex-direction: column-reverse; }

    &--vertical {
        flex-direction: column-reverse;
        flex: 1;

        @include respond(tab-port) {
            flex: inherit;

            overflow: hidden;
            margin-bottom: 2rem;
        }

        &:not(:last-child) { 
            margin-right: 2rem; 

            @include respond(tab-port) { margin-right: 0; }
        }
    }

    &--invert { flex-direction: row-reverse; }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 0 0 45%;

        padding-right: 2rem;

        @include respond(tab-port) {
            flex: 1;

            padding-right: 0;
        }

        &--wide { 
            flex: 0 0 65%; 

            margin-left: 2rem;
            position: relative;

            @include respond(tab-port) {
                flex: 1;

                margin-top: 5rem;
                margin-left: 0;
                
                &::after {
                    width: 50%;
                    position: absolute;
                    content: '';
                    bottom: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    border: .1rem solid $color-gray;
                }
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        margin-top: auto;

        @include respond(tab-port) {
            flex: inherit;

            overflow: hidden;
            margin-top: 0;
        }

        @include respond(phone) { flex-direction: column; }
    }

    &__user-box {
        font-size: 1.4rem;
        margin-right: 10rem;

        @include respond(phone) { margin-bottom: 3rem; }

        &--auto { margin-right: auto; }

        @include respond(phone) { margin-right: 0; }
    }

    &__bookmark {
        & a {
            &:link,
            &:visited {
                display: inline-block;
                
                &:not(:last-child) { margin-right: 3.8rem; }
            }
        }
    }

    &__user-name { margin-bottom: 1rem; }

    &__user-date { opacity: .4; }

    &__photo-box { 
        height: auto;

        &--small {
            height: 20rem;
            width: 100%;

            @include respond(tab-port) { display: none; }
        }
    }

    &__photo { 
        display: block;
        width: 100%; 
        height: 100%;
    }
}


