@import 'abstracts/extends';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/logo';
@import 'components/btn';
@import 'components/card';
@import 'components/gift';
@import 'components/blog-item';

@import 'layouts/grid-container';
@import 'layouts/header';
@import 'layouts/intro';
@import 'layouts/gifts';
@import 'layouts/start';
@import 'layouts/blog';
@import 'layouts/footer';

