.video-box {
    @include clearFix;

    &__content {
        float: left;
        width: 33.33333%;
        position: relative;
        cursor: pointer;
        background-color: $color-black;
        overflow: hidden;
    }

    &__text {
        @include respond(phone) {
            display: none;
        }
    }

    &__content:hover &__icon {
        transform: translateX(-3rem);
        opacity: 0;
    }

    &__icon,
    &__picture,
    &__info {
        transition: $transition;
    }

    &__icon,
    &__info {
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        font-size: 6rem;
    }

    &__content:hover &__info {
        opacity: 1;
    }

    &__content:hover &__picture {
        opacity: .2;
    }

    &__picture {
        opacity: .7;
        width: 100%;
        height: auto;
        transform: scale(1.1);
    }

    &__info {
        opacity: 0;
        line-height: 145%;
        text-align: center;
    }
}
