.footer {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--color-gray-1);
    color: var(--color-gray);
    padding: 1rem 2rem;
    margin-top: auto;

    ul {
        display: flex;
        justify-content: space-between;

        list-style: none;

        @include respond(phone-small) { 
            flex-direction: column;
            align-items: center;
        }

        li {
            display: flex;
            align-items: center;

            a { 
                transition: all .3s;
                margin-left: 1rem;
                
                &:link,
                &:visited { color: var(--color-gray); }

                &:hover { color: var(--color-white); }
            }

            svg { 
                fill: var(--color-white); 
                height: 2rem;
                width: 2rem;
            }
        }
    }
}