.container {
    display: grid;
    grid-template-rows: 35vw 6.5rem;
    grid-template-columns: 1fr 1fr 2fr;

    grid-template-areas: 'player player cylinder'
                         'footer footer cylinder';

    border-radius: .5rem;
    background-color: $color-red;
    box-shadow: 0 2rem 5rem rgba($color-black, .5);
    overflow: hidden;

    @include respond(tab-land) {
        grid-template-rows: 40vh 50vh 10vh;
        grid-template-columns: initial;

        grid-template-areas: 'player player-1'
                             'cylinder cylinder'
                             'footer footer';

        border-radius: initial;
        box-shadow: initial;
    }
}