.cylinder-panel {
    background-color: $color-red;
    
    display: grid;
    align-content: space-evenly;
    justify-items: center;

    @include respond(tab-land) { grid-column: 1 / -1; }
}





