.cylinder-panel {
    background-color: $color-red;

    //grid-area: cylinder;
    
    display: grid;
    align-content: space-evenly;
    justify-content: center;

    @include respond(tab-land) { grid-column: 1 / -1; }
}





