.footer {
    background-color: $color-gray-dark;
    color: $color-gray-light;

    display: grid;
    row-gap: 1rem;

    align-content: center;
    justify-content: center;
    grid-column: 1 / -1;

    @include respond(phone-small) { 
        grid-auto-flow: column; 
        align-items: center;
        padding: 0 2rem;
        justify-content: space-between;
    }

    &__rights { font-size: 1.4rem; }

    &__icon-box {
        display: grid;
        grid-auto-flow: column; 
        column-gap: 1rem;

        justify-content: center;

        list-style: none;
    }

    &__link { text-decoration: none; }

    &__icon {
        fill: $color-gray-light;
        height: 2rem;
        width: 2rem;
        transition: all .4s;
        transform: translate(-.4rem, .2rem);

        &:hover { 
            fill: $color-white; 

            @media only screen and (max-width: 48em),
                   only screen and (hover: none) {
                fill: $color-gray-light;
            }
        }
    }
}
