.player-0-panel,
.player-1-panel { background-color: $color-white; }

// .player-0-panel { grid-area: player; }
// .player-1-panel { grid-area: player-1; }

.player-0-panel {
    @include respond(tab-land) { grid-column: 1 / 2; }
}

.player-1-panel {
    @include respond(tab-land) { grid-column: 2 / 3; }
}

.player-0-panel,
.player-1-panel {
    display: grid;

    align-content: space-between;

    padding: 2rem;
    text-align: center;

    @include respond(tab-land) { 
        padding: 0 2rem;

        align-content: space-around;
        justify-content: center; 
    }

    &__icon {
        justify-self: center;

        width: 70%;

        @include respond(phone-small) { width: 60%; }
    }

    &__hp-icon {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        justify-self: end;

        font-size: 1.8rem;
        padding: 1rem;

        &--start { justify-self: start; }
    }
}

// for the JS code
.active { background-color: $color-gray-light; }

.active .player-name,
.active .player-health { font-weight: 400; }

.active .player-name::after {
    content: '';
    height: .2rem;
    width: 30%;
    margin-left: 35%;
    display: block;
    position: absolute;
    background-color: $color-red;
    bottom: -1rem;
}

.fade { animation: fade .4s ease-in; }

