.heading-tertiary, .heading-quaternary, .heading-quinary, .heading-senary {
  color: #2b2b2b;
  font-weight: 700;
  font-size: 1.6rem; }

/*
0-600px:      phone
600-900px:    tablet portrait
900-1200px:   tablet landscape

1800+:        big screen
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #4ad7b4;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  color: #888b90;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .1rem;
  overflow-x: hidden; }

textarea {
  resize: none; }

.title {
  grid-area: 1 / 6 / 2 / 10; }
  .title--bottom {
    grid-area: 3 / 6 / 4 / 10; }

.heading-primary {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center; }
  .heading-primary--white {
    color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      display: none; } }
  @media only screen and (max-width: 43.75em) {
    .heading-primary {
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 25em) {
    .heading-primary {
      display: block; } }
  .heading-primary__main {
    font-size: 3.5rem;
    letter-spacing: 1vw;
    font-weight: 900;
    margin-left: 1rem;
    animation: objectFade 2s ease-out .2s;
    animation-fill-mode: backwards; }
    @media only screen and (min-width: 112.5em) {
      .heading-primary__main {
        font-size: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading-primary__main {
        font-size: 2.5rem; } }
    .heading-primary__main::after {
      content: "";
      margin: 0 auto;
      width: 80%;
      display: block;
      border: 0.1rem solid #52edc7; }
  .heading-primary__sub {
    font-size: 4.5rem;
    letter-spacing: .1rem;
    font-weight: 300; }
    @media only screen and (min-width: 112.5em) {
      .heading-primary__sub {
        font-size: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary__sub {
        font-size: 3.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading-primary__sub {
        font-size: 2.6rem; } }

.heading-single {
  color: #fff;
  font-size: 4.5vw;
  letter-spacing: .5vw;
  margin-bottom: 2rem;
  display: none; }
  .heading-single__dash {
    color: #52edc7; }
  @media only screen and (max-width: 56.25em) {
    .heading-single {
      display: block; } }
  @media only screen and (max-width: 25em) {
    .heading-single {
      display: none; } }

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 1vw;
  text-indent: 1vw; }
  .heading-secondary--black {
    color: #000; }
  .heading-secondary--white {
    color: #fff; }
  @media only screen and (min-width: 112.5em) {
    .heading-secondary {
      letter-spacing: 1rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      letter-spacing: 0.2rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 1.4rem; } }

@media only screen and (max-width: 56.25em) {
  .heading-quaternary {
    font-size: 2.5rem; } }

@media only screen and (max-width: 43.75em) {
  .heading-quaternary {
    font-size: 2rem; } }

.heading-quinary--white {
  color: #fff; }

.heading-senary {
  font-size: 1.8rem;
  padding-top: 2.5rem; }
  .heading-senary::after {
    content: '';
    width: 40%;
    display: block;
    margin: 1rem 0 1rem 0;
    border: 0.1rem solid #eee; }

.paragraph {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;
  font-size: 1.8rem;
  text-align: center; }
  .paragraph--white {
    color: #fff; }

.subtitle {
  color: #000;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .subtitle {
      text-align: center; } }
  .subtitle::after {
    content: '';
    width: 28rem;
    display: block;
    bottom: -45%;
    left: 0;
    border: 0.1rem solid #4ad7b4;
    position: absolute; }
    @media only screen and (max-width: 56.25em) {
      .subtitle::after {
        left: 32%;
        width: 30vw; } }
    @media only screen and (max-width: 43.75em) {
      .subtitle::after {
        left: 30%; } }

.mt-sm {
  margin-top: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .mt-sm {
      margin-top: 2rem; } }

.mt-md {
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .mt-md {
      margin-top: 5rem; } }

.mt-lg {
  margin-top: 5rem; }

.mt-hg {
  margin-top: 7rem; }

.mt-bg {
  margin-top: 10rem; }
  @media only screen and (max-width: 43.75em) {
    .mt-bg {
      margin-top: 8rem; } }

.mt-bg-2 {
  margin-top: 14rem; }
  @media only screen and (max-width: 75em) {
    .mt-bg-2 {
      margin-top: 16rem; } }

.mt-bg-3 {
  margin-top: 20rem; }

.mb-md {
  margin-bottom: 4rem; }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: solid 0.2rem #fff;
  padding: 1.5rem 2.5rem;
  position: relative;
  outline: 0;
  transition: all .5s; }
  @media only screen and (min-width: 112.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  .btn::-moz-focus-inner, .btn:link::-moz-focus-inner, .btn:visited::-moz-focus-inner {
    border: none; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    background-color: #52edc7; }
    @media only screen and (max-width: 56.25em) {
      .btn:hover, .btn:link:hover, .btn:visited:hover {
        background-color: transparent; } }

.btn--black {
  color: #000;
  border: solid 0.2rem #000; }

.btn--small {
  padding: 1rem 2.5rem; }

.btn--form {
  width: 100%;
  color: #1abc9c;
  font-weight: 600;
  border: solid 0.4rem #1abc9c;
  text-align: center; }
  .btn--form:hover::after {
    background-color: #fff; }
  .btn--form:hover {
    color: #fff;
    background-color: #1abc9c; }
  .btn--form::after {
    position: absolute;
    display: block;
    content: '';
    height: 2.3rem;
    width: 2.3rem;
    top: 30%;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M11 16.5v-3.5h-8v-6h8v-3.5l6.5 6.5-6.5 6.5z' /></svg>");
    mask-size: cover;
    background-color: #1abc9c;
    background-image: none; }

.icon-wrapper {
  display: grid;
  grid-template-columns: 8rem max-content 8rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center; }
  .icon-wrapper--black::before, .icon-wrapper--black::after {
    content: "";
    height: .1rem;
    display: block;
    background-color: #000; }
  .icon-wrapper__icon {
    height: 2rem;
    width: 2rem;
    justify-self: center; }
  .icon-wrapper--white::before, .icon-wrapper--white::after {
    content: "";
    height: .1rem;
    display: block;
    background-color: #fff; }
  .icon-wrapper__icon {
    height: 2rem;
    width: 2rem;
    justify-self: center; }
    .icon-wrapper__icon--white {
      fill: #fff; }

.about-bar {
  grid-area: 3 / 5 / 4 / 11;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  list-style: none; }
  .about-bar__item:link, .about-bar__item:visited {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 5rem;
    width: 5rem;
    padding: 2rem;
    background-color: #52edc7;
    border-radius: 50%;
    transition: all .3s; }
    @media only screen and (max-width: 43.75em) {
      .about-bar__item:link, .about-bar__item:visited {
        height: 4rem;
        width: 4rem; } }
    .about-bar__item:link:hover, .about-bar__item:visited:hover {
      transform: translateY(-1rem); }
      @media only screen and (max-width: 56.25em) {
        .about-bar__item:link:hover, .about-bar__item:visited:hover {
          transform: none; } }
  .about-bar__icon {
    fill: #fff;
    height: 2rem;
    width: 2rem; }
    @media only screen and (min-width: 112.5em) {
      .about-bar__icon {
        transform: translate(0.2rem, 0.2rem); } }

.burger {
  cursor: pointer;
  height: 3.5rem;
  width: 4rem;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative; }
  .burger span {
    display: block;
    height: .4rem;
    width: 100%;
    background-color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .burger span {
        height: .5rem; } }
  .burger span::before,
  .burger span::after {
    content: "";
    position: absolute;
    display: block;
    height: .4rem;
    width: 100%;
    background-color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .burger span::before,
      .burger span::after {
        height: .5rem; } }
  .burger span::before {
    top: .5rem; }
  .burger span::after {
    bottom: .5rem; }

.progress-item {
  display: grid;
  justify-items: center;
  position: relative; }
  .progress-item:nth-child(1) circle:nth-child(2) {
    stroke-dashoffset: 110; }
  .progress-item:nth-child(2) circle:nth-child(2) {
    stroke-dashoffset: 140.8; }
  .progress-item:nth-child(3) circle:nth-child(2) {
    stroke-dashoffset: 220; }
  .progress-item:nth-child(4) circle:nth-child(2) {
    stroke-dashoffset: 22; }
  .progress-item:nth-child(5) circle:nth-child(2) {
    stroke-dashoffset: 88; }
  .progress-item:nth-child(6) circle:nth-child(2) {
    stroke-dashoffset: 13.2; }
  .progress-item > * {
    color: #fff; }
  .progress-item__percent svg {
    position: relative;
    height: 15rem;
    width: 15rem; }
    @media only screen and (min-width: 112.5em) {
      .progress-item__percent svg {
        height: 14rem;
        width: 14rem; } }
    @media only screen and (max-width: 75em) {
      .progress-item__percent svg {
        height: 15rem;
        width: 15rem; } }
    @media only screen and (max-width: 56.25em) {
      .progress-item__percent svg {
        height: 19rem;
        width: 18.5rem; } }
    .progress-item__percent svg circle {
      width: 100%;
      height: 100%;
      fill: none;
      opacity: .5;
      stroke: #fff;
      stroke-width: 8;
      stroke-linecap: round;
      transform: translate(0.5rem, 0.5rem); }
      @media only screen and (min-width: 112.5em) {
        .progress-item__percent svg circle {
          transform: translate(1.1rem, 1.1rem); } }
      @media only screen and (max-width: 56.25em) {
        .progress-item__percent svg circle {
          transform: translate(12%, 15%);
          top: 50%;
          left: 50%; } }
    .progress-item__percent svg circle:nth-child(2) {
      opacity: 1;
      stroke-dasharray: 440; }
  .progress-item__number {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 3.5rem;
    font-weight: 400;
    position: absolute;
    right: 0%;
    bottom: 8%;
    height: 100%;
    width: 100%;
    transition: all .3s;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .progress-item__number {
        right: 0;
        bottom: 5%; } }
    .progress-item__number:hover {
      transform: scaleY(1.3); }
      @media only screen and (max-width: 56.25em) {
        .progress-item__number:hover {
          transform: none; } }
  .progress-item__text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center; }

.study-item {
  display: grid;
  grid-gap: 4rem; }
  .study-item__top {
    display: grid;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .study-item__top {
        font-size: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .study-item__top {
        font-size: 1.4rem; } }
    .study-item__top > * {
      padding: .2rem 2rem .2rem 2rem; }
  .study-item__years {
    background-color: #52edc7; }
  .study-item__degree {
    background-color: #4ad7b4; }
  .study-item__main {
    display: grid;
    grid-gap: 1rem;
    text-align: center;
    background-color: #52edc7;
    border-bottom: solid 0.2rem #c1c1c1;
    position: relative;
    padding-top: 1rem;
    transition: all .3s ease-out;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .study-item__main {
        grid-gap: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .study-item__main {
        font-size: .8rem; } }
    .study-item__main:hover {
      transform: scale(1.1); }
      @media only screen and (max-width: 56.25em) {
        .study-item__main:hover {
          transform: none; } }
    .study-item__main > * {
      padding: 0 2rem 0 2rem; }
    .study-item__main::after {
      position: absolute;
      content: "";
      height: 3rem;
      width: 5rem;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #52edc7;
      clip-path: polygon(50% 0, 0 100%, 100% 100%); }
  .study-item__university {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .study-item__university {
        font-size: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .study-item__university {
        font-size: 1.4rem; } }
  .study-item__description {
    background-color: #fff;
    color: #c1c1c1;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .study-item__description {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .study-item__description {
        font-size: 1.4rem; } }

.work-item {
  display: grid;
  text-align: center;
  transition: all .3s ease-out;
  cursor: pointer; }
  .work-item:hover {
    transform: scale(1.1); }
    @media only screen and (max-width: 56.25em) {
      .work-item:hover {
        transform: none; } }
  .work-item__top {
    padding: .2rem;
    background-color: #52edc7;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .work-item__top {
        padding: .8rem; } }
    @media only screen and (max-width: 43.75em) {
      .work-item__top {
        font-size: 1.5vh; } }
  .work-item__main {
    display: grid;
    background-color: #fff;
    padding: 0 2rem 2rem 2rem;
    border-bottom: solid 0.2rem #c1c1c1; }
  .work-item__position {
    padding-bottom: 1rem;
    color: #888b90;
    font-weight: 600;
    font-size: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .work-item__position {
        font-size: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .work-item__position {
        font-size: 1.2rem; } }
  .work-item__description {
    color: #c1c1c1;
    font-size: 1.5rem;
    font-weight: 400; }
    @media only screen and (max-width: 56.25em) {
      .work-item__description {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .work-item__description {
        font-size: 1.4rem; } }

.portfolio-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 1rem;
  list-style: none;
  text-align: center; }
  @media only screen and (max-width: 43.75em) {
    .portfolio-nav {
      grid-gap: 0; } }
  .portfolio-nav__item {
    display: grid;
    align-items: center;
    border: solid 0.2rem #fff;
    padding: .3rem 1rem .3rem 1rem;
    transition: all .6s; }
    .portfolio-nav__item:hover {
      background-color: #52edc7; }
  .portfolio-nav__link:link, .portfolio-nav__link:visited {
    align-self: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500; }
    @media only screen and (max-width: 43.75em) {
      .portfolio-nav__link:link, .portfolio-nav__link:visited {
        font-size: 2vw; } }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column: 3 / 13; }
  @media only screen and (max-width: 56.25em) {
    .portfolio-grid {
      grid-column: full-start / full-end; } }
  .portfolio-grid__item {
    position: relative;
    display: grid;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden; }
    .portfolio-grid__item:hover .portfolio-grid__content {
      opacity: 1; }
  .portfolio-grid__photo {
    width: 100%;
    height: 100%;
    z-index: 1; }
  .portfolio-grid__content {
    display: grid;
    justify-items: center;
    align-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(115, 190, 210, 0.5);
    transition: all .5s;
    z-index: 2;
    opacity: 0; }
  .portfolio-grid__description {
    font-size: 1.4rem;
    font-weight: 400; }

.process-item {
  display: grid;
  grid-gap: .5rem;
  justify-items: center;
  align-content: center;
  height: 11rem;
  width: 11rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }
  .process-item:hover .process-item__icon {
    fill: #888b90; }
  .process-item:hover .process-item__text {
    transform: scale(1.1); }
  .process-item::after {
    position: absolute;
    display: block;
    content: '';
    height: 2rem;
    width: 2rem;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M11 16.5v-3.5h-8v-6h8v-3.5l6.5 6.5-6.5 6.5z' /></svg>");
    mask-size: cover;
    background-color: #fff;
    background-image: none;
    top: 40%;
    right: -2.6vw; }
    @media only screen and (max-width: 75em) {
      .process-item::after {
        right: -10vw; } }
    @media only screen and (max-width: 43.75em) {
      .process-item::after {
        right: -50%; } }
    @media only screen and (max-width: 25em) {
      .process-item::after {
        -webkit-mask-image: url(""); } }
  .process-item:last-child::after {
    -webkit-mask-image: url(""); }
  @media only screen and (max-width: 75em) {
    .process-item:nth-child(3)::after {
      -webkit-mask-image: url(""); } }
  @media only screen and (max-width: 43.75em) {
    .process-item:nth-child(2)::after {
      -webkit-mask-image: url(""); }
    .process-item:nth-child(4)::after {
      -webkit-mask-image: url(""); }
    .process-item:nth-child(3)::after {
      -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M11 16.5v-3.5h-8v-6h8v-3.5l6.5 6.5-6.5 6.5z' /></svg>"); } }
  @media only screen and (max-width: 25em) {
    .process-item:nth-child(3)::after {
      -webkit-mask-image: url(""); } }
  .process-item__icon {
    height: 3.5rem;
    width: 3.5rem;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .process-item__icon {
        transform: translateX(0.5rem);
        height: 4rem;
        width: 4rem; } }
  .process-item__text {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s; }

.review {
  display: grid;
  justify-content: center; }
  .review__top {
    background-color: #52edc7; }
  .review__main {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 4rem;
    grid-template-columns: 18rem 30rem;
    background-color: #fff;
    padding: 8rem 3rem 8rem 3rem;
    position: relative;
    transition: all .3s ease-out;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .review__main {
        grid-template-columns: 85%;
        padding: 8vh 3vw 8vh 3vw; } }
    .review__main:hover .review__main-user-photo {
      filter: opacity(0.4); }
    .review__main:hover {
      transform: scale(1.1); }
    .review__main::before, .review__main::after {
      position: absolute;
      content: "\201C";
      top: 4%;
      left: 50%;
      transform: translateX(-50%);
      color: #a3f0dd;
      font-size: 10rem;
      font-family: sans-serif;
      line-height: 1; }
      @media only screen and (max-width: 56.25em) {
        .review__main::before, .review__main::after {
          font-size: 5rem; } }
      @media only screen and (max-width: 25em) {
        .review__main::before, .review__main::after {
          font-size: 4rem; } }
    .review__main::after {
      top: 85%; }
      @media only screen and (max-width: 56.25em) {
        .review__main::after {
          top: 90%; } }
      @media only screen and (max-width: 25em) {
        .review__main::after {
          top: 94%; } }
  .review__user-photo {
    display: grid;
    align-self: center;
    grid-row: 1 / span 2;
    height: 18rem;
    width: 18rem;
    border: 0.5rem solid #eee;
    border-radius: 50%;
    transition: all .3s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .review__user-photo {
        justify-self: center;
        grid-row: 1 / 2; } }
  .review__user-name {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic; }
    @media only screen and (max-width: 56.25em) {
      .review__user-name {
        text-align: center;
        grid-row: 2 / 3; } }
  .review__user-text {
    display: grid;
    align-content: end;
    color: #888b90;
    letter-spacing: 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic; }
    @media only screen and (max-width: 56.25em) {
      .review__user-text {
        text-align: center;
        grid-row: 3 / 4; } }

.blog-item {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  border: solid 0.1rem #eee;
  position: relative;
  cursor: pointer; }
  .blog-item:hover .blog-item__content {
    opacity: 1; }
  .blog-item > *:not(:first-child) {
    padding: 1rem; }
  .blog-item__photo {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .blog-item__date {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: end;
    height: 5rem;
    width: 5rem;
    background-color: #52edc7;
    margin-left: 5rem;
    transform: rotate(45deg) translateY(70%);
    text-align: center;
    position: relative; }
    .blog-item__date span {
      display: grid;
      align-self: center;
      justify-self: center;
      color: #fff;
      position: absolute;
      display: block;
      transform: rotate(-45deg) translateY(-0.4rem);
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1; }
      .blog-item__date span sub {
        display: block;
        font-size: 1rem;
        font-weight: 400; }
  .blog-item__description {
    font-size: 1.4rem;
    align-self: end; }
  .blog-item__stats {
    align-self: end;
    grid-row: 4 / 5;
    border-top: solid 0.1rem #eee;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0; }
    .blog-item__stats span::after {
      content: '';
      margin: 0 1rem 0 1rem;
      border: 0.1rem solid #eee; }
  .blog-item__content {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all .5s; }
  .blog-item__btn {
    margin-bottom: 2rem; }

.form {
  display: grid;
  row-gap: 4rem;
  column-gap: 3rem;
  grid-template-rows: min-content 20rem;
  grid-template-columns: repeat(8, 1fr); }
  .form__group:nth-child(1) {
    grid-column: 1 / 5; }
  .form__group:nth-child(2) {
    grid-column: 5 / 9; }
  .form__group:nth-child(3) {
    grid-column: 1 / -1; }
  .form__group:nth-child(4) {
    grid-column: 1 / 5; }
    @media only screen and (max-width: 43.75em) {
      .form__group:nth-child(4) {
        grid-column: 2 / 8; } }
  .form__input {
    height: 100%;
    width: 100%;
    color: #c1c1c1;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 300;
    padding: 1.5rem;
    border: none;
    border-bottom: 0.4rem solid #4ad7b4;
    transition: all .4s; }
    .form__input:focus {
      outline: none;
      border-bottom: 0.4rem solid #1abc9c; }
      .form__input:focus:invalid {
        border-bottom: 0.4rem solid #f9671e;
        outline: none; }
  .form__label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1.5rem;
    display: block; }
  .form__text {
    margin-left: 2rem; }

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [full-start] 4rem 1fr 4rem [full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 85vh; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: min-content; } }

.header {
  background: #73bed2 url(../img/bgs/bg-small.png);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  @media (min-resolution: 192dpi) and (min-width: 900px), (min-width: 1200px) {
    .header {
      background-image: url(../img/bgs/bg.png); } }
  .header__top {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between; }
  .header__logo, .header__logo:link, .header__logo:visited {
    height: 4rem;
    cursor: pointer; }
  .header__main {
    grid-row: 2 / 3;
    grid-column: 3 / 13;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header__main {
        grid-auto-flow: row;
        justify-content: center;
        align-content: center; } }
  .header__photo {
    height: 24rem;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .header__photo {
        justify-self: center;
        margin: 4rem 0 2rem 0; } }
    @media only screen and (max-width: 43.75em) {
      .header__photo {
        height: 22rem; } }
  .header__wrapper {
    display: grid;
    justify-items: center; }

.about {
  background-color: #fff;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  padding-bottom: 14rem; }
  @media only screen and (max-width: 75em) {
    .about {
      padding-bottom: 12rem; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      padding-bottom: 10rem; } }

.wrapper {
  grid-row: 2 / 3;
  grid-column: center-start / center-end; }
  .wrapper--down {
    grid-row: 3 / 4; }
  .wrapper--bottom {
    grid-row: 4 / 5; }
  .wrapper--6 {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(6, 1fr); }
  @media only screen and (max-width: 25em) {
    .wrapper {
      grid-column: full-start / full-end; } }

.experience {
  background-color: #eee;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -16rem;
  padding-bottom: 21rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .experience {
      -webkit-clip-path: polygon(0 0, 100% 2%, 100% 96%, 0 100%);
      clip-path: polygon(0 0, 100% 2%, 100% 96%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .experience {
      clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%); } }
  @media only screen and (max-width: 43.75em) {
    .experience {
      padding-bottom: 20rem;
      clip-path: polygon(0 0, 100% 1%, 100% 99%, 0 100%); } }
  .experience__wrapper {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .experience__wrapper {
        margin-top: 5rem;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 80%;
        grid-template-columns: 100%;
        grid-gap: 5rem; }
        .experience__wrapper::after {
          content: '';
          position: absolute;
          width: 15%;
          bottom: -20%;
          left: 50%;
          transform: translate(-50%);
          display: block;
          border: 0.1rem solid #c1c1c1; } }
    @media only screen and (max-width: 56.25em) and (max-width: 56.25em) {
      .experience__wrapper::after {
        display: none; } }

.portfolio {
  background: #888b90 url(../img/bgs/portfolio-bg-small.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -12rem;
  padding-bottom: 14rem; }
  @media (min-resolution: 192dpi) and (min-width: 900px), (min-width: 1200px) {
    .portfolio {
      background-image: url(../img/bgs/portfolio-bg.png); } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .portfolio {
      -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 43.75em) {
    .portfolio {
      padding-bottom: 0;
      clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%); } }
  .portfolio__description {
    grid-row: 2 / 3;
    grid-column: center-start / center-end; }
  .portfolio__wrapper {
    display: grid;
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
    @media only screen and (max-width: 43.75em) {
      .portfolio__wrapper {
        grid-column: full-start / full-end; } }

.process {
  background-color: #52edc7;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -5rem;
  padding-bottom: 10rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .process {
      -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 75em) {
    .process {
      margin-top: -6rem;
      padding-bottom: 12rem; } }
  @media only screen and (max-width: 56.25em) {
    .process {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 43.75em) {
    .process {
      margin-top: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 75em) {
    .process__wrapper {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center; } }
  @media only screen and (max-width: 43.75em) {
    .process__wrapper {
      display: grid;
      grid-gap: 8rem;
      grid-template-columns: repeat(2, min-content);
      justify-content: center; } }
  @media only screen and (max-width: 25em) {
    .process__wrapper {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 80%;
      justify-content: center;
      grid-gap: 3rem; } }

.skills {
  background-color: #1abc9c;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -13rem;
  padding-bottom: 24rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .skills {
      -webkit-clip-path: polygon(0 15%, 100% 5%, 100% 95%, 0 90%);
      clip-path: polygon(0 15%, 100% 5%, 100% 95%, 0 90%); } }
  @media only screen and (max-width: 75em) {
    .skills {
      clip-path: polygon(0 10%, 100% 5%, 100% 95%, 0 90%);
      padding-bottom: 24rem; } }
  @media only screen and (max-width: 43.75em) {
    .skills {
      clip-path: polygon(0 6%, 100% 5%, 100% 95%, 0 93%);
      padding-bottom: 22rem; } }
  @media only screen and (max-width: 75em) {
    .skills__wrapper {
      justify-content: center;
      display: grid;
      grid-gap: 8rem;
      grid-template-columns: repeat(2, min-content); } }
  @media only screen and (max-width: 43.75em) {
    .skills__wrapper {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 80%;
      justify-content: center; } }

.testimonials {
  background-color: #eee;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -5rem;
  padding-bottom: 12rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .testimonials {
      -webkit-clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);
      clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%); } }
  @media only screen and (max-width: 43.75em) {
    .testimonials {
      clip-path: polygon(0 0, 100% 2%, 100% 97%, 0 98%); } }
  .testimonials__text {
    display: grid;
    grid-gap: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400; }
    .testimonials__text::after {
      content: '';
      width: 40%;
      margin: 0 auto;
      display: block;
      border: 0.1rem solid #52edc7; }
  .testimonials__logos {
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .testimonials__logos {
        grid-gap: 2rem; } }
    .testimonials__logos img {
      max-height: 3.5rem;
      max-width: 100%;
      justify-self: center;
      transition: all .3s;
      cursor: pointer; }
      .testimonials__logos img:hover {
        filter: brightness(80%); }

.blog {
  background-color: #fff;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  padding-bottom: 13rem;
  margin-top: -6rem; }
  .blog__wrapper {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
    @media only screen and (max-width: 25em) {
      .blog__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); } }

.contact {
  background-color: #52edc7;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -6rem;
  padding-bottom: 12rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .contact {
      -webkit-clip-path: polygon(0 0, 100% 5%, 100% 80%, 50% 100%, 0 80%);
      clip-path: polygon(0 0, 100% 5%, 100% 80%, 50% 100%, 0 80%); } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      clip-path: polygon(0 0, 100% 5%, 100% 90%, 50% 100%, 0 90%);
      padding-bottom: 18rem; } }
  @media only screen and (max-width: 43.75em) {
    .contact {
      clip-path: polygon(0 0, 100% 3%, 100% 90%, 50% 100%, 0 90%);
      padding-bottom: 10rem; } }
  @media only screen and (max-width: 25em) {
    .contact {
      clip-path: polygon(0 0, 100% 3%, 100% 95%, 50% 100%, 0 95%); } }
  .contact__address {
    grid-area: 2 / 2 / 3 / 6;
    display: grid;
    grid-gap: 4rem;
    color: #000;
    font-weight: 400; }
    @media only screen and (max-width: 56.25em) {
      .contact__address {
        grid-area: 2 / 3 / 3 / 13; } }
    @media only screen and (max-width: 43.75em) {
      .contact__address {
        display: none; } }
  .contact__box {
    display: grid;
    grid-gap: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__box {
        grid-auto-flow: column;
        align-items: center; } }
  .contact__info {
    font-size: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__info {
        font-size: 2vw; } }
  .contact__phone {
    font-size: 2rem;
    font-weight: 600; }
    @media only screen and (max-width: 56.25em) {
      .contact__phone {
        font-size: 2.2vw; } }
  .contact__email {
    font-size: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__email {
        font-size: 2.2vw; } }
  .contact__site {
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__site {
        font-size: 2.2vw; } }
  .contact__touch {
    grid-area: 2 / 7 / 4 / 14;
    display: grid;
    grid-gap: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__touch {
        grid-area: 3 / 3 / 4 / 13; } }
    @media only screen and (max-width: 43.75em) {
      .contact__touch {
        grid-column: full-start / full-end; } }

.download {
  background-color: #eee;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  margin-top: -16rem;
  padding-bottom: 5rem; }
  .download__btn {
    grid-row: 2 / 3;
    grid-column: 6 / 10;
    color: #2b2b2b;
    text-transform: initial;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    padding: 2rem;
    background-color: #f1c40f;
    border: none;
    border-bottom: solid 0.3rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 43.75em) {
      .download__btn {
        font-size: 1.5rem; } }
    .download__btn:hover {
      background-color: rgba(241, 196, 15, 0.7); }

.footer {
  background-color: #888b90;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  height: 8rem; }
  @media only screen and (max-width: 43.75em) {
    .footer {
      font-size: 3vw; } }
  .footer__text {
    cursor: pointer;
    display: block;
    transition: all .4s; }
    .footer__text:hover {
      color: #eee; }
