// FONTS
$font-lato: 'Montserrat', sans-serif;

// TRANSITION
$transition-slowly: all .5s;
$transition-fast: all .3s;

// COLORS
$color-primary: #1F3F68;

$color-blue-1: #5A98D0;
$color-blue-2: #316099;
$color-blue-3: #356EAD;
$color-blue-4: #98C3E8;
$color-blue-5: #1f3f685e;
$color-blue-6: #98C3E8;

$color-white: #fff;
$color-black: #000;
$color-gray: #f4f4f4;

$color-green: #008000;
$color-red: #ff0000;

// BOX-SHADOW
$box-shadow: 0 2rem 4rem rgba($color-black, .1); 
$box-shadow-dark: 0 .5rem 3rem rgba($color-black, .1);

// BORDER 
$border: solid .1rem rgba($color-white, .5);
$border-r-1px: 1rem;