body {
    color: $color-black;
    font-family: $font-roboto;
    font-size: 1.6rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4{ font-weight: 300; }

h1 { 
    font-size: 4rem; 
    border-bottom: solid .1rem $color-black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h3 { font-size: 2.5rem;}
h4 {  font-size: 2rem; }

