.blog {
    background-color: $color-white;
    @include columnsFullPosition;

    display: grid;
    @include columnsCenterArea;

    padding-bottom: 13rem;
    margin-top: -6rem;

    &__wrapper {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        @include respond(phone-small) {
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        }
    }
}
