.experience {
    background-color: $color-grey-light-1;
    @include columnsFullPosition;

    display: grid;
    @include columnsCenterArea;

    margin-top: -16rem;
    padding-bottom: 21rem;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 2%, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 2%, 100% 96%, 0 100%);
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%); 
    } 

    @include respond(phone) {
        padding-bottom: 20rem;
        clip-path: polygon(0 0, 100% 1%, 100% 99%, 0 100%); 
    }

    &__wrapper {
        @include gridFrColumns($columns-3...);

        @include respond(tab-port) {
            margin-top: 5rem;

            justify-content: center;
            @include gridFrColumns($columns-1...);
            grid-template-columns: 100%;
            grid-gap: 5rem;

            &::after {
                content: '';
                position: absolute;
                width: 15%;
                bottom: -20%;
                left: 50%;
                transform: translate(-50%);
                display: block;
                border: .1rem solid $color-grey-light-2;
    
                @include respond(tab-port) {
                    display: none;
                }    
            }
        }
    }
}