.container {
    display: grid;

    grid-template-rows: 100vh;
    @include columnsFullArea;

    @include respond(tab-land) {
        grid-template-rows: 85vh;
    }

    @include respond(phone) {
        grid-template-rows: min-content;
    }
}

