.testimonials {
    background-color: $color-grey-light-1;
    @include columnsFullPosition;

    display: grid;
    @include columnsCenterArea;

    margin-top: -5rem;
    padding-bottom: 12rem;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);    
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 2%, 100% 97%, 0 98%);
    }

    &__text {
        display: grid;
        grid-gap: 2rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: $font-raleway;
        font-weight: 400;

        &::after {
            content: '';
            width: 40%;
            margin: 0 auto;
            display: block;
            border: .1rem solid $color-mint;
        }
    }

    &__logos {
        display: grid;
        grid-gap: 8rem;
        grid-template-columns: repeat(3, 1fr);

        @include respond(tab-port) {
            grid-gap: 2rem;
        }

        & img {
            max-height: 3.5rem;
            max-width: 100%;
            justify-self: center;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                filter: brightness(80%)
            }
        }
    }
}
