:root {
  --font-roboto: 'Roboto', sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #989797;
  --color-gray-1: #676767;
  --color-gray-2: #525457;
  --color-gray-dark: #38393d;
  --color-gray-light: #3e4346;
  --color-mint-1: #85f7af;
  --color-mint-2: #90eafb;
  --color-mint-dark: #30655b;
  --color-mint-light: #37b29a;
  --color-blue: #3979e1;
  --color-red: #cd2f31;
  --b-5px: .5rem;
  --b-10px: 1rem;
  --box-shadow-light: 1rem 1rem 2rem rgba(0,0,0,.2); }

html[data-theme='light'] {
  --color-black: #000;
  --color-white: #000;
  --color-gray: #000;
  --color-gray-1: #fff;
  --color-gray-2: #eee;
  --color-gray-dark: #d1d1d1;
  --color-gray-light: #fff;
  --color-mint-1: #fff;
  --color-mint-2: #fff;
  --color-mint-dark: #000;
  --color-mint-light: #000;
  --color-blue: #d1d1d1;
  --color-red: #cd2f31;
  --b-5px: .5rem;
  --b-10px: 1rem;
  --box-shadow-light: 1rem 1rem 2rem rgba(0,0,0,.2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 750ms !important;
  transition-delay: 0 !important; }

body {
  color: var(--color-gray);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  background-color: var(--color-gray-1);
  background-size: cover;
  min-height: 100vh; }

.heading-secondary,
.heading-tertiary {
  font-weight: 100; }

.heading-primary {
  font-weight: 300;
  text-transform: uppercase; }
  .heading-primary span {
    display: block; }
    .heading-primary span:nth-child(1) {
      color: var(--color-mint-dark);
      font-size: 3rem;
      margin-bottom: 2rem;
      position: relative; }
      @media only screen and (max-width: 48em) {
        .heading-primary span:nth-child(1) {
          font-size: 2rem; } }
      .heading-primary span:nth-child(1)::after {
        content: '';
        position: absolute;
        top: 4.4rem;
        background: var(--color-mint-light);
        display: block;
        width: 40%;
        margin-left: 30%;
        height: .1rem; }
        @media only screen and (max-width: 48em) {
          .heading-primary span:nth-child(1)::after {
            top: 3.4rem; } }
    .heading-primary span:nth-child(2) {
      font-size: 1.5rem;
      color: var(--color-mint-light);
      margin-bottom: 2rem; }

.heading-secondary {
  font-size: 2rem;
  margin-top: 3rem; }

.heading-tertiary {
  display: flex;
  align-items: center;
  height: 3.5rem;
  font-size: 1.4rem; }
  .heading-tertiary--number {
    color: var(--color-mint-1);
    margin: 0 auto 0 .5rem; }
  .heading-tertiary--delete {
    color: var(--color-red);
    cursor: pointer; }
    .heading-tertiary--delete:hover i {
      margin-left: 1rem; }
    .heading-tertiary--delete i {
      margin-left: .5rem;
      transition: all .2s; }

.pt-30px {
  padding-top: 3rem; }

.mt-10px {
  margin-top: 10px; }

.mb-30px {
  margin-bottom: 3rem; }

.vocabulary-panel {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-gray-2);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--b-10px);
  overflow: hidden; }
  .vocabulary-panel__add {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow-light);
    padding: 1.5rem; }
    .vocabulary-panel__add > input {
      flex: 1 1 10ch;
      outline: none;
      margin: 1rem 1rem 1rem; }
    .vocabulary-panel__add i {
      font-size: 2rem; }
  .vocabulary-panel__add-from, .vocabulary-panel__add-into {
    width: 100%;
    color: inherit;
    background-color: var(--color-gray-1);
    border-radius: var(--b-5px);
    font-size: 1.5rem;
    padding: 1rem;
    border: 0; }
    .vocabulary-panel__add-from:focus, .vocabulary-panel__add-into:focus {
      background-color: var(--color-gray-1); }
    .vocabulary-panel__add-from:placeholder-shown, .vocabulary-panel__add-into:placeholder-shown {
      color: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      background-color: var(--color-gray-1); }
  .vocabulary-panel__btn {
    color: inherit;
    background: none;
    border: none;
    cursor: pointer; }
    .vocabulary-panel__btn:active {
      transform: translateY(0.2rem); }
    .vocabulary-panel__btn i {
      font-size: 3rem; }

.user-panel,
.user-panel__picture-box {
  border-radius: var(--b-10px);
  overflow: hidden; }

.user-panel {
  width: 100%;
  box-shadow: var(--box-shadow-light);
  position: relative; }
  .user-panel__header-box img {
    width: 100%;
    display: block; }
  .user-panel__picture-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -9rem);
    border-radius: var(--b-10px);
    border: solid 0.3rem var(--color-mint-dark);
    overflow: hidden;
    height: 10rem;
    width: 10rem; }
    .user-panel__picture-box img {
      display: block;
      height: 100%;
      width: 100%; }
  .user-panel__text-box {
    text-align: center;
    background: linear-gradient(to right bottom, var(--color-mint-1), var(--color-mint-2));
    padding-bottom: 2rem;
    list-style: none; }

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-gray-1);
  color: var(--color-white);
  font-size: 1.6rem;
  text-align: left;
  padding: 2rem;
  list-style: none; }
  .item__from {
    position: relative;
    margin-right: 2rem; }
    .item__from::after {
      content: '';
      position: absolute;
      right: -1rem;
      bottom: 0;
      background: var(--color-white);
      height: 100%;
      width: .1rem; }
  .item__into {
    margin-right: auto; }
  .item__delete {
    display: flex;
    cursor: pointer;
    transition: all .2s;
    color: inherit;
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 0; }
    .item__delete:hover {
      transform: translateY(-0.2rem); }

.cta, .cta:link, .cta:visited {
  color: var(--color-white);
  background-color: var(--color-blue);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.5rem;
  position: relative;
  font-size: 1.5rem;
  z-index: 1; }
  @media only screen and (min-width: 43.75em) {
    .cta:hover, .cta:link:hover, .cta:visited:hover {
      color: var(--color-blue); }
      .cta:hover::after, .cta:link:hover::after, .cta:visited:hover::after {
        height: 100%; } }
  .cta::after, .cta:link::after, .cta:visited::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    display: block;
    transition: all .5s;
    background-color: var(--color-white);
    z-index: -1; }
  .cta i, .cta:link i, .cta:visited i {
    margin-left: 1rem; }

.btn, .btn:link, .btn:visited {
  display: flex;
  margin-right: auto;
  background: none;
  border: none; }
  @media only screen and (max-width: 33.125em) {
    .btn, .btn:link, .btn:visited {
      margin-right: initial;
      margin-left: auto; } }

.btn__checkbox {
  display: none; }

.btn__checkbox:checked + .btn__shape {
  background: var(--color-white); }

.btn__checkbox:checked + .btn__shape .btn__circle {
  margin-left: auto;
  background-color: var(--color-blue);
  box-shadow: -0.3rem 0 0.3rem rgba(var(--color-black), 0.2); }

.btn__shape {
  display: flex;
  align-items: center;
  justify-content: start;
  color: inherit;
  text-decoration: none;
  width: 7rem;
  height: 3.5rem;
  padding: .5rem;
  background: linear-gradient(to right bottom, var(--color-mint-1), var(--color-mint-2));
  border-radius: 1.8rem;
  cursor: pointer; }

.btn__circle {
  background-color: var(--color-white);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.3rem 0 0.3rem rgba(var(--color-black), 0.2);
  transition: all .5s; }

.eye__hide {
  display: flex;
  opacity: .2; }

.eye__show {
  display: none; }

.eye__hide, .eye__show {
  justify-content: center;
  font-size: 4rem; }

.active {
  cursor: pointer;
  opacity: 1; }

.container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh + 4.5rem); }
  .container__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75vw;
    background: linear-gradient(to right bottom, var(--color-gray-dark), var(--color-gray-light)); }
    @media only screen and (max-width: 48em) {
      .container__content {
        width: 100%; } }
  .container__profile, .container__vocabulary {
    padding: 2rem; }
  .container__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 40% 0 0; }
    @media only screen and (max-width: 33.125em) {
      .container__profile {
        flex: 1; } }
  .container__vocabulary {
    flex: 1;
    width: 100%; }
    @media only screen and (max-width: 33.125em) {
      .container__vocabulary {
        flex: initial;
        padding-bottom: 4rem; } }

.footer {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--color-gray-1);
  color: var(--color-gray);
  padding: 1rem 2rem;
  margin-top: auto; }
  .footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    @media only screen and (max-width: 33.125em) {
      .footer ul {
        flex-direction: column;
        align-items: center; } }
    .footer ul li {
      display: flex;
      align-items: center; }
      .footer ul li a {
        transition: all .3s; }
        .footer ul li a:link, .footer ul li a:visited {
          color: var(--color-gray); }
        .footer ul li a:hover {
          color: var(--color-white); }
      .footer ul li i {
        font-size: 2rem;
        margin-left: 1rem; }
