.btn-fire,
.btn-rotate,
.btn-new {
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    
    & i {
        margin-left: .5rem;
        transition: all .5s;
    }
}

.btn-fire,
.btn-rotate {
    @include respond(phone-small) { font-size: 2rem; }
}

.btn-new { 
    font-size: 1.8rem; 

    @include respond(phone-small) { font-size: 1.6rem; }
}

// JS
.flasher { animation: flasher 1.5s infinite; }


