// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-light: #fcfcfc;
$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #f2f2f2; 
$color-grey-light-3: #c1c1c1; 
$color-grey-light-4: #e6e6e6;
$color-grey-light-5: #A6A6A6;
$color-grey-light-6: #c9c9c9;
$color-grey-light-7: #bfbfbf;

$color-grey-dark: #a8a8a8;
$color-grey-dark-1: #a6a6a6;
$color-grey-dark-2: #999;
$color-grey-dark-3: #666;
$color-grey-dark-4: #2e2e2e; 
$color-grey-dark-5: #333;
$color-grey-dark-6: #363636;
$color-grey-dark-7: #4e4e4e;
$color-grey-dark-8: #9e9e9e;
$color-grey-dark-9: #424242;

$color-red: #fa3e3e;
$color-green: #61964f;

//FONT
$font-helvetica: 'Helvetica', sans-serif;
$font-lobster: 'Lobster', sans-serif;

//BORDER-RADIUS
$border-3: .3rem;
$border-6: .6rem;

//TRANSITION
$transition: all .5s;

