.grid-container {
    display: grid;
    grid-template-rows: 10.7rem repeat(2, 39vw);
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.6rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];

    @include respond(phone) {
        grid-template-rows: 10.7rem 30vh calc(30vh - 10.7rem) 40vh 
    }

    @include respond(phone-smallest) { 
        grid-template-rows: 5rem calc(50vh - 5rem) 50vh; 
    }
}