// FONT
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-black: #000;
$color-white: #fff;

$color-gray: #efece3;
$color-gray-1: #f9f9f9;
$color-gray-2: #eee;
$color-gray-dark: #8d8d8d;

$color-twitter: #2db8ec;
$color-insta: #497b9f;
$color-facebook: #3b5998;


$color-gold: #dbb873;

// TRANSITION
$transition: all .3s;