// FONT
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-black: #000;
$color-white: #fff;

$color-gray: #f2f3f5;
$color-hray-dark: #333;

$color-blue: #4299ad;
$color-blue-dark: #007791;

$color-red: #ea5959;
$color-red-light: #faebeb;

$color-green: #46c28e;
$color-green-light: #e9f7f1;


// BORDER-RADIUS
$b-r-2px: .2rem;




