@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fadeBottom {
  0% {
    -webkit-transform: translate(-50%, 80%);
    transform: translate(-50%, 80%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 1; } }

@keyframes fadeBottom {
  0% {
    -webkit-transform: translate(-50%, 80%);
    transform: translate(-50%, 80%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 1; } }

@-webkit-keyframes fadeUpCookies {
  0% {
    -webkit-transform: translate(-50%, -10rem);
    transform: translate(-50%, -10rem);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1; } }

@keyframes fadeUpCookies {
  0% {
    -webkit-transform: translate(-50%, -10rem);
    transform: translate(-50%, -10rem);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1; } }

@-webkit-keyframes moveLeftRight {
  0% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); } }

@keyframes moveLeftRight {
  0% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  outline: none; }

html {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  letter-spacing: .1rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  position: relative; }

h1, h2, h4, h5 {
  text-transform: uppercase; }

.heading-primary--main, .heading-primary--sub,
.heading-secondary--main,
.heading-secondary--sub,
.heading-quaternary--main,
.heading-quaternary--sub {
  display: block; }

.heading-primary--main {
  font-size: 3.6rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 64em) {
    .heading-primary--main {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 38.75em) {
    .heading-primary--main {
      font-size: 2.2rem;
      margin-bottom: 0; } }

.heading-primary--sub {
  font-size: 2rem;
  margin-bottom: .5rem; }
  @media only screen and (max-width: 64em) {
    .heading-primary--sub {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 38.75em) {
    .heading-primary--sub {
      font-size: 1rem; } }

.heading-secondary {
  font-size: 2rem; }
  .heading-secondary--main {
    font-size: 4rem;
    font-weight: 300; }
  .heading-secondary--sub {
    font-size: 1.6rem;
    color: #ff2925; }
  @media only screen and (max-width: 64em) {
    .heading-secondary {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 38.75em) {
    .heading-secondary {
      font-size: 1.2rem; } }

.heading-quaternary--main {
  font-weight: 100;
  margin-bottom: .5rem; }

.heading-quaternary--sub {
  font-size: 1rem;
  color: #ec2a24;
  margin-bottom: .5rem; }

h5 {
  font-size: 2.5rem;
  color: #000;
  letter-spacing: .5rem; }
  @media only screen and (max-width: 64em) {
    h5 {
      font-size: 1.8rem; } }

.mb-20px {
  margin-bottom: 2rem; }

.mb-10px {
  margin-bottom: 1rem; }

.burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.8rem;
  width: 2rem;
  position: relative;
  cursor: pointer; }
  .burger span, .burger::before, .burger::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    background: #333;
    width: 100%;
    height: .2rem; }
  .burger::before {
    -webkit-transform: translateY(-0.8rem);
    -ms-transform: translateY(-0.8rem);
    transform: translateY(-0.8rem); }
  .burger::after {
    -webkit-transform: translateY(0.8rem);
    -ms-transform: translateY(0.8rem);
    transform: translateY(0.8rem); }

.item {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 38.75em) {
    .item {
      border: solid 0.1rem #eee;
      padding-bottom: 1rem; } }
  .item__img-box {
    width: 100%;
    position: relative; }
    .item__img-box .item__details a:link, .item__img-box .item__details a:visited {
      color: inherit;
      text-decoration: none; }
    .item__img-box:hover img:nth-child(1) {
      opacity: 0; }
    .item__img-box:hover img:nth-child(2) {
      opacity: 1; }
    .item__img-box:hover .item__details {
      -webkit-transform: translateY(-5.9rem);
      -ms-transform: translateY(-5.9rem);
      transform: translateY(-5.9rem);
      opacity: 1; }
    .item__img-box img {
      width: 100%;
      display: block;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .item__img-box img:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; }
  .item ul {
    list-style: none; }
  .item__details {
    color: #fff;
    padding: 2rem;
    position: absolute;
    width: 100%;
    left: 50%;
    left: 0;
    text-align: center;
    background-color: #000;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition: all .4s .2s ease-in-out;
    -o-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    border-top: solid 0.1rem #fff; }
  .item__paragraph {
    font-weight: 400; }

.form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4rem; }
  .form__input, .form__btn {
    border: none; }
  .form__input {
    padding: 1rem 2rem 1rem 1rem; }
    .form__input:focus + .form__btn svg {
      fill: #000;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .form__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    background-color: #ff2925;
    cursor: pointer; }
    .form__btn:hover {
      background-color: #ff8d8b; }
    .form__btn svg {
      fill: #fff;
      height: 2.2em;
      width: 1rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.cta, .cta:link, .cta:visited {
  color: #ec2a24;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: solid 0.3rem #ec2a24;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-animation: fadeUp 1s;
  animation: fadeUp 1s; }
  .cta:hover, .cta:link:hover, .cta:visited:hover {
    color: #fff;
    background-color: #ec2a24; }

.btn, .btn:link, .btn:visited {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: solid 0.3rem #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    background-color: #ec2a24; }
  @media only screen and (max-width: 64em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 38.75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.2rem; } }

.btn--blue:hover {
  background-color: #4169e1 !important; }

.shadow {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .shadow {
      display: block; } }

.mob-nav {
  color: #fff;
  display: none;
  font-weight: 100;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding-top: 4.5rem;
  text-align: center;
  background-color: #333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .mob-nav {
      display: block; } }
  @media only screen and (max-width: 30em) {
    .mob-nav {
      width: 100%;
      font-size: 1.4rem; } }
  .mob-nav__add-nav {
    display: none;
    list-style: none; }
    .mob-nav__add-nav li:first-child {
      padding-top: 2rem;
      margin-top: 2rem;
      border-top: solid 0.1rem rgba(238, 238, 238, 0.1); }
    .mob-nav__add-nav li:nth-child(11) {
      font-weight: 700; }
  .mob-nav__close {
    position: absolute;
    font-size: 3rem;
    right: 1.5rem;
    top: 0; }
    @media only screen and (max-width: 30em) {
      .mob-nav__close {
        font-size: 2rem; } }
  .mob-nav li {
    cursor: pointer; }
    .mob-nav li:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: solid 0.1rem rgba(238, 238, 238, 0.1); }
  .mob-nav a {
    color: inherit;
    text-decoration: none; }

.add-nav-active {
  display: block; }

.gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: url(../img/bgs/bg-6.png) top no-repeat;
  text-transform: uppercase;
  color: #fff;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 5%;
  background-size: cover;
  visibility: hidden;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  opacity: 0; }
  @media only screen and (max-width: 30em) {
    .gift {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 0 2rem; } }
  .gift__close {
    top: 5%;
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    cursor: pointer; }
    @media only screen and (max-width: 30em) {
      .gift__close {
        top: 20%; } }
  .gift__text-box p span {
    font-weight: 700; }
  .gift__text-box p:not(:last-child) {
    margin-bottom: .5rem; }
  @media only screen and (max-width: 30em) {
    .gift__form {
      width: 100%; } }

.gift-active {
  opacity: 1;
  visibility: visible; }

.cookies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-animation: fadeUpCookies .5s;
  animation: fadeUpCookies .5s;
  display: none;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #000;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
  border-radius: 1rem;
  position: fixed;
  padding: 2.5rem;
  min-height: 60%;
  z-index: 4;
  width: 80%;
  left: 50%;
  top: 20%; }
  @media only screen and (max-width: 64em) {
    .cookies {
      min-height: initial; } }
  @media only screen and (max-width: 38.75em) {
    .cookies {
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: initial;
      -webkit-transform: initial;
      -ms-transform: initial;
      transform: initial; } }
  .cookies__header, .cookies__btn-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  @media only screen and (max-width: 30em) {
    .cookies__btn-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (max-width: 30em) {
    .cookies__btn {
      width: 100%;
      text-align: center; }
      .cookies__btn:not(:last-child) {
        margin-bottom: 2rem; } }
  .cookies__close {
    -webkit-transform: translateY(-0.4rem);
    -ms-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem);
    font-size: 3rem;
    cursor: pointer; }
  .cookies__paragraph {
    line-height: 185%;
    font-size: 2rem; }
    @media only screen and (max-width: 64em) {
      .cookies__paragraph {
        font-size: 1.8rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 38.75em) {
      .cookies__paragraph {
        font-size: 2.5vh;
        margin-bottom: 0; } }

.cookies-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeUpCookies .5s;
  animation: fadeUpCookies .5s; }
  @media only screen and (max-width: 56.25em) {
    .cookies-active {
      -webkit-animation: initial;
      animation: initial; } }

.touch {
  position: fixed;
  max-width: 30rem;
  left: 4rem;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  border-top-right-radius: 1rem;
  -webkit-transform: translateY(93%);
  -ms-transform: translateY(93%);
  transform: translateY(93%);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  @media only screen and (max-width: 56.25em) {
    .touch {
      left: 0; } }
  @media only screen and (max-width: 38.75em) {
    .touch {
      border-top-right-radius: 0;
      max-width: 100%; } }
  .touch__header {
    text-align: center;
    color: #fff;
    font-weight: 700;
    background-color: #333;
    padding: 1rem;
    opacity: .9;
    cursor: pointer; }
    @media only screen and (max-width: 30em) {
      .touch__header {
        border-top: solid 0.1rem #fff;
        opacity: 1; } }
    .touch__header span {
      display: inline-block;
      padding-right: 2rem;
      -webkit-animation: moveLeftRight 2s infinite;
      animation: moveLeftRight 2s infinite; }
  .touch__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 2rem;
    background-color: #fff;
    padding: 2rem; }
  .touch__img {
    width: 100%;
    border-radius: 50%; }
  .touch__text-box {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    text-align: center; }
  .touch__icon-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    list-style: none; }
  .touch__item {
    margin-left: 1rem; }
    .touch__item svg {
      height: 2.8rem;
      width: 2.8rem; }
  .touch__red {
    fill: #ec2a24; }
  .touch__blue {
    fill: #4169e1; }
  .touch__name {
    margin-bottom: 1rem; }
  .touch input,
  .touch textarea {
    border-radius: 1rem;
    border: solid 0.1rem #eee;
    outline: none; }
  .touch label {
    font-weight: 100; }
  .touch input {
    height: 3rem;
    padding: 0 2rem; }
  .touch input:invalid {
    border: #ec2a24; }
  .touch textarea {
    resize: none;
    padding: 2rem; }
  .touch input,
  .touch textarea,
  .touch label, .touch__btn, .touch__footer {
    grid-column: 1 / -1; }
  .touch__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .touch__btn {
    cursor: pointer; }

.form-active {
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial; }

.grid-container {
  display: grid;
  grid-template-rows: 36vw;
  grid-template-columns: [sidebar-start] 4rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 17.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 4rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .grid-container {
      grid-template-rows: 60vw;
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 17.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 38.75em) {
    .grid-container {
      grid-template-rows: 72vw; } }

.sidebar {
  background-color: #333;
  color: #fff;
  grid-row: 1 / span 6;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      display: none; } }
  .sidebar svg,
  .sidebar span {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .sidebar svg {
    fill: #fff;
    height: 2rem;
    width: 2rem; }
    .sidebar svg:hover {
      fill: #eee; }
    .sidebar svg:hover span {
      color: #eee; }
  .sidebar__sticky {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .sidebar__sticky {
    position: absolute;
    top: 25rem; }
  .sidebar li {
    display: grid;
    justify-items: center;
    cursor: pointer; }
    .sidebar li:not(:last-child) {
      margin-bottom: 1rem; }
  .sidebar__support-cta {
    position: fixed;
    bottom: 1rem;
    left: 1rem; }

.sticky {
  position: fixed !important;
  left: 2rem !important;
  top: 2% !important; }

.header {
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 2%;
  z-index: 2;
  position: fixed;
  right: 0;
  left: 4rem;
  cursor: pointer; }
  .header nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header nav {
        row-gap: 2rem;
        -webkit-box-pack: stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
        grid-template-rows: repeat(2, 1fr);
        width: 100%; } }
  .header__mob {
    display: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none; }
    .header__mob svg {
      height: 1.8rem;
      width: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__mob {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: grid;
      justify-items: center;
      left: 0;
      background-color: #fff; } }
  @media only screen and (min-width: 56.25em), only screen and (hover: none) {
    .header:hover {
      background-color: rgba(255, 255, 255, 0.9); }
      .header:hover li {
        color: #333; }
      .header:hover svg {
        fill: #333; }
      .header:hover .header__form {
        border: solid 0.1rem #333; }
      .header:hover .header__input {
        color: #333; } }
  .header:hover .header__logo {
    background: url(../img/logos/logo-black.png) center no-repeat;
    background-size: cover; }
  .header__main-nav li:first-child:hover .header__add-nav, .header__main-nav li:nth-child(2):hover .header__add-nav {
    opacity: 1;
    visibility: visible; }
  .header__minor-nav li {
    position: relative;
    z-index: 2; }
    .header__minor-nav li:last-child:hover .header__add-nav {
      opacity: 1;
      visibility: visible; }
  .header nav, .header__main-nav, .header__minor-nav {
    display: grid;
    grid-auto-flow: column;
    list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .header__main-nav, .header__minor-nav {
      display: none; } }
  .header__main-nav svg, .header__minor-nav svg {
    fill: #fff;
    height: 2rem;
    width: 2rem;
    z-index: 1; }
  .header__main-nav li, .header__minor-nav li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; }
    .header__main-nav li:not(:first-child), .header__minor-nav li:not(:first-child) {
      margin-left: 3rem; }
  .header__main-nav .header__add-nav li, .header__minor-nav .header__add-nav li {
    margin-left: 0;
    font-weight: initial;
    text-transform: initial; }
    .header__main-nav .header__add-nav li a:link, .header__main-nav .header__add-nav li a:visited, .header__minor-nav .header__add-nav li a:link, .header__minor-nav .header__add-nav li a:visited {
      color: inherit;
      text-decoration: none; }
  .header__logo {
    width: 25rem;
    height: 2.2rem;
    -webkit-transform: translateX(-4.5rem);
    -ms-transform: translateX(-4.5rem);
    transform: translateX(-4.5rem);
    background: url(../img/logos/logo-white.png) center no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        justify-self: center;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        background: url(../img/logos/logo-black.png) center no-repeat;
        background-size: cover; } }
  .header__add-nav {
    position: absolute;
    background-color: #fff;
    padding: 2rem 10rem 2rem 2rem;
    margin-top: 3rem;
    visibility: hidden;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    -webkit-box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4);
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4); }
    .header__add-nav--right {
      left: -17rem;
      padding: 2rem 2rem 2rem 10rem; }
    .header__add-nav li {
      border-bottom: solid .1rem transparent;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .header__add-nav li:hover {
        border-bottom: solid 0.1rem #eee; }
    .header__add-nav li:last-child {
      font-weight: 700; }
    .header__add-nav::before {
      content: '';
      position: absolute;
      top: -2rem;
      left: 5rem;
      display: block;
      height: 2rem;
      border: 1rem solid transparent;
      border-bottom: 1rem solid #fff; }
  .header__add-nav--right::before {
    left: 17rem; }
  .header__add-nav--right li {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header__form, .header__input {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .header__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -.5rem;
    position: absolute;
    border: solid 0.1rem #fff;
    opacity: 0;
    visibility: hidden; }
    @media only screen and (max-width: 56.25em) {
      .header__form {
        top: 0;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        right: 0;
        left: 0;
        width: 100%; } }
  .header__input {
    width: 20rem;
    height: 3rem;
    color: #fff;
    padding-right: 1rem;
    background: #eee;
    border: none;
    outline: none;
    padding-left: 1rem; }
    @media only screen and (max-width: 64em) {
      .header__input {
        width: 18rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__input {
        height: 4rem;
        width: 100%; } }
    .header__input:focus {
      width: 25rem; }
      @media only screen and (max-width: 64em) {
        .header__input:focus {
          width: 18rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__input:focus {
          width: 100%; } }

.active {
  opacity: 1;
  visibility: visible; }

.fill {
  fill: #eee; }

.sticky-header {
  background-color: rgba(255, 255, 255, 0.9); }
  .sticky-header li {
    color: #333; }
  .sticky-header svg {
    fill: #333; }
  .sticky-header .header__form {
    border: solid 0.1rem #333; }
  .sticky-header .header__input {
    color: #333; }

.sticky-logo {
  background: url(../img/logos/logo-black.png) center no-repeat !important;
  background-size: cover !important; }

.intro {
  background-color: #fff;
  position: relative;
  grid-column: full-start / full-end; }
  .intro__text-box {
    -webkit-animation: fadeBottom 1s .2s;
    animation: fadeBottom 1s .2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .intro__text-box {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    -webkit-transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
    z-index: 1; }
    @media only screen and (max-width: 38.75em) {
      .intro__text-box {
        display: grid;
        grid-auto-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        -webkit-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem; } }
  .intro__slider, .intro__img {
    height: 100%; }
  .intro__img {
    display: block;
    width: 100%;
    -webkit-animation: fadeUp 1s;
    animation: fadeUp 1s; }
  .intro__paragraph {
    font-size: 1.8rem;
    font-weight: 400; }
    @media only screen and (max-width: 64em) {
      .intro__paragraph {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 38.75em) {
      .intro__paragraph {
        display: none; } }
  .intro__btn-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 4rem; }
    @media only screen and (max-width: 38.75em) {
      .intro__btn-box {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
  .intro__slider-btn {
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .intro__slider-btn:first-child, .intro__slider-btn:hover {
      background-color: #fff; }
    .intro__slider-btn::-moz-focus-inner {
      border: 0; }
    .intro__slider-btn:not(:last-child) {
      margin-right: 2rem; }

.shop {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: -webkit-min-content 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  row-gap: 4rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding-bottom: 4rem;
  border-bottom: solid 0.4rem #eee; }
  @media only screen and (max-width: 56.25em) {
    .shop {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 38.75em) {
    .shop {
      grid-template-columns: 1fr; } }
  .shop__header {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 4rem 0; }
    @media only screen and (max-width: 38.75em) {
      .shop__header {
        padding: 4rem 4rem 0 4rem;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-auto-flow: row;
        text-align: center; } }
  .shop__paragraph {
    font-size: 2rem;
    color: #000;
    font-weight: 400;
    border-bottom: solid 0.1rem #333; }
    @media only screen and (max-width: 38.75em) {
      .shop__paragraph {
        margin-top: 1rem;
        border-bottom: 0; } }
    .shop__paragraph a:link, .shop__paragraph a:visited {
      color: inherit;
      text-decoration: none; }

.intro-minor {
  grid-column: center-start / center-end;
  display: grid;
  row-gap: 2rem;
  padding-bottom: 4rem; }
  .intro-minor__header {
    padding: 4rem 0; }
    @media only screen and (max-width: 38.75em) {
      .intro-minor__header {
        padding: 4rem 0 1rem 0;
        text-align: center; } }
  .intro-minor__slider {
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 1rem;
    margin-left: 15%;
    min-height: 24rem;
    width: 70%;
    border-bottom: solid 0.1rem #eee;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .intro-minor__slider {
        width: 100%;
        margin-left: initial;
        row-gap: 2rem; } }
    .intro-minor__slider blockquote,
    .intro-minor__slider figcaption {
      -webkit-animation: fadeUp 1s;
      animation: fadeUp 1s; }
    .intro-minor__slider blockquote {
      font-size: 2.2rem;
      font-style: italic;
      line-height: 145%;
      text-align: center; }
      @media only screen and (max-width: 64em) {
        .intro-minor__slider blockquote {
          font-size: 1.8rem; } }
    .intro-minor__slider figcaption {
      color: #ec2a24;
      font-weight: 700;
      text-align: center; }
  .intro-minor__btn-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .intro-minor__img {
    width: 10%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: .5;
    cursor: pointer; }
    @media only screen and (max-width: 64em) {
      .intro-minor__img {
        width: 15%; } }
    @media only screen and (max-width: 38.75em) {
      .intro-minor__img {
        width: 25%; } }
    .intro-minor__img:first-child {
      opacity: 1; }
    .intro-minor__img:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 38.75em) {
        .intro-minor__img:not(:last-child) {
          margin-right: 1.4rem; } }

.footer {
  color: #fff;
  font-weight: 400;
  background-color: #000;
  padding: 6rem 4rem 2rem;
  grid-column: full-start / full-end;
  display: grid;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 10rem;
  grid-template-columns: repeat(4, 1fr) 30%; }
  @media only screen and (max-width: 64em) {
    .footer {
      row-gap: 5rem;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      padding: 4rem 3rem 5rem 3rem; } }
  .footer__list, .footer__loop, .footer__icon-box {
    list-style: none; }
  .footer__item:first-child, .footer__loop-item:first-child {
    font-weight: 700;
    text-transform: uppercase; }
  .footer__item {
    margin-bottom: 1.5rem; }
    .footer__item:first-child {
      margin-bottom: 3rem; }
    .footer__item a {
      color: inherit;
      text-decoration: none; }
  .footer__loop {
    display: grid;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 3rem; }
    @media only screen and (max-width: 64em) {
      .footer__loop {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 56.25em) {
      .footer__loop {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem; } }
  .footer__icon-box {
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 64em) {
      .footer__icon-box {
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        -ms-flex-pack: start;
        justify-content: start; } }
    .footer__icon-box li {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .footer__icon-box li:hover {
        -webkit-transform: translateY(-0.5rem);
        -ms-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem); }
      .footer__icon-box li svg {
        fill: #fff;
        height: 2.8rem;
        width: 2.8rem; }
  .footer__picture-box {
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: column;
    list-style: none; }
    .footer__picture-box img {
      width: 100%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .footer__picture-box img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
  .footer__copyright {
    color: #333;
    font-size: 1.2rem;
    grid-column: 3 / -1;
    text-align: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        text-align: center; } }
