.footer {
    &__top {
        padding: 4rem 0;
        background-color: $color-primary;

        @include respond(tab-port) {
            padding: 2rem 0;
        }
    }

    &__social-links {
        display: block;
        margin-top: 2rem;
    }

    &__link,
    &__legals,
    &__copyright {
        color: $color-white;
    }

    &__link {
        display: inline-block;
        font-size: 2.4rem;
        text-decoration: none;
        padding-bottom: .2rem;
        margin-bottom: .5rem;
        transition: $transition;
        border-bottom: .2rem solid transparent;

        &:hover {
            border-bottom: .2rem solid $color-white;
        }
        
        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__bottom {
        padding: 10rem 0;
        background-color: $color-black;

        @include respond(tab-port) {
            padding: 5rem 0;
        }
    }

    &__legals {
        margin-top: 1.3rem;
        font-size: 1.2rem;
        margin-left: 30%;
        width: 40%;

        @include respond(phone-small) {
            width: 90%;
            margin-left: 5%;
        }
    }

    &__copyright {
        font-size: 1rem;
    }
}