.heading-primary, .heading-secondary {
  font-weight: bold;
  cursor: pointer; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  color: #999;
  background-color: #f2f2f2;
  position: relative;
  min-height: 100vh; }

@font-face {
  font-family: Helvetica;
  src: url(../font/Helvetica.ttc); }

a {
  text-decoration: none; }

.heading-primary {
  font-size: 2.4rem;
  color: #333; }

.heading-secondary {
  font-size: 1.5rem;
  color: #666; }

.heading-tertiary {
  color: #666;
  font-weight: normal; }
  @media only screen and (max-width: 68.5em) {
    .heading-tertiary {
      display: none; } }

.heading-quaternary,
.heading-quinary {
  display: none;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 68.5em) {
    .heading-quaternary,
    .heading-quinary {
      display: block; } }

.heading-quinary {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .heading-quinary {
      display: block; } }

.paragraph {
  font-family: sans-serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #333; }

.following:link, .following:visited {
  color: #4e4e4e;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7rem; }

.mb-sm {
  margin-bottom: .8rem; }

.mb-sm-1 {
  margin-bottom: 1.1rem; }

.mb-md {
  margin-bottom: 1.6rem; }

.mb-md-1 {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .mb-md-1 {
      margin-bottom: 1.8rem; } }

.mb-bg {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 68.5em) {
    .mb-bg {
      margin-bottom: 1.1rem; } }

.mb-bg-1 {
  margin-bottom: 4.8rem; }
  @media only screen and (max-width: 43.75em) {
    .mb-bg-1 {
      margin-bottom: 3.5rem; } }

.mt-md {
  margin-top: 2.4rem; }
  @media only screen and (max-width: 43.75em) {
    .mt-md {
      margin-top: 3.5rem; } }

.news-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2.5rem; }
  @media only screen and (max-width: 68.5em) {
    .news-box {
      margin-left: 0; } }

.news {
  display: flex;
  position: relative;
  max-width: 75.4rem;
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .news {
      border-radius: 0; } }
  .news__sidebar {
    display: flex;
    justify-content: center;
    flex: 0 0 8%;
    background-color: #f9f9f9; }
    @media only screen and (max-width: 43.75em) {
      .news__sidebar {
        display: none; } }
  .news__like {
    margin-top: 5rem; }
  .news__content {
    width: 100%;
    padding: 1.7rem 2rem 0 2rem; }
    @media only screen and (max-width: 68.5em) {
      .news__content {
        padding: 1.7rem 2rem 0 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .news__content {
        padding: 1.4rem 1.4rem 0 1.4rem; } }
  .news__shape, .news__nav {
    width: 50rem; }
  @media only screen and (max-width: 37.5em) {
    .news__nav {
      width: 70vw; } }
  .news__shape {
    position: relative;
    height: 28.9rem;
    border-radius: 0.3rem;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .news__shape {
        height: auto;
        width: 100%; } }
  .news__caption, .news__photo, .news__item, .news__link, .news__icon, .news__icon-item {
    transition: all 0.5s; }
  .news__caption {
    color: #fff;
    position: absolute;
    font-size: 2.5rem;
    top: 16rem;
    left: 21rem;
    opacity: 0;
    backface-visibility: hidden; }
  .news__photo {
    width: 100%;
    transform: translateX(1rem) scale(1.4); }
    @media only screen and (max-width: 68.5em) {
      .news__photo {
        transform: none; } }
  .news__nav-bar {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .news__nav-bar {
        flex-wrap: wrap;
        justify-content: flex-start; } }
  .news__item {
    padding: .6rem .9rem;
    border: solid 0.1rem #f2f2f2;
    border-radius: 0.3rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .news__item:nth-child(1) {
        margin: 0 1.8rem 1.4rem 0; }
      .news__item:nth-child(2) {
        margin: 0 1.8rem 0 0; } }
    .news__item:hover {
      color: #fff;
      background-color: #f9f9f9;
      border: solid .1rem transparent; }
  .news__link {
    color: #666; }
    .news__link:hover {
      color: #999; }
  .news__footer {
    display: flex;
    align-items: center;
    height: 5rem; }
    @media only screen and (max-width: 43.75em) {
      .news__footer {
        flex-direction: column;
        height: 10rem; } }
    .news__footer:before {
      position: absolute;
      content: '';
      bottom: 5rem;
      right: 0;
      width: 92%;
      border-top: solid 0.1rem #f2f2f2; }
      @media only screen and (max-width: 43.75em) {
        .news__footer:before {
          width: 100%;
          bottom: 5.5rem; } }
  .news__icon-box {
    display: flex;
    align-items: center;
    transform: translateX(-2rem);
    height: 100%; }
    @media only screen and (max-width: 43.75em) {
      .news__icon-box {
        position: absolute;
        bottom: 0;
        height: 5.5rem;
        order: 2;
        transform: translateX(0); } }
  .news__icon-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    border-right: solid 0.1rem #f2f2f2;
    outline: none; }
    .news__icon-item:hover {
      background-color: rgba(168, 168, 168, 0.3); }
    .news__icon-item:last-child {
      border-right: none; }
  .news__icon {
    fill: #333;
    height: 2rem;
    width: 2rem; }
    .news__icon:not(:last-child) {
      margin-right: 1rem; }
  .news__figure {
    color: #333;
    font-size: 1.5rem; }
  .news__user-add {
    color: #666;
    margin-left: auto;
    font-size: 1.4rem; }
    @media only screen and (max-width: 43.75em) {
      .news__user-add {
        padding-top: 1rem;
        margin-left: 0; }
        .news__user-add:before {
          position: absolute;
          content: '';
          bottom: 11rem;
          right: 0;
          width: 100%;
          border-top: solid 0.1rem #f2f2f2; } }
    .news__user-add a:link, .news__user-add a:visited {
      color: #000; }
  .news:hover .news__caption {
    opacity: 1;
    top: 14rem; }
    @media only screen and (max-width: 68.5em) {
      .news:hover .news__caption {
        opacity: 0;
        top: 0; } }
  .news:hover .news__photo {
    transform: scale(1);
    filter: blur(0.3rem) brightness(90%); }
    @media only screen and (max-width: 68.5em) {
      .news:hover .news__photo {
        filter: none; } }

.user-bar {
  display: flex;
  align-items: center;
  align-self: stretch;
  transform: translateX(1rem); }
  .user-bar__icon-box, .user-bar__user {
    display: flex;
    height: 100%;
    padding: 0 1.5rem;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer; }
    .user-bar__icon-box:hover, .user-bar__user:hover {
      background-color: #363636; }
  .user-bar__icon-box {
    position: relative; }
  .user-bar__icon, .user-bar__icon-user {
    height: 2.1rem;
    width: 2.1rem;
    fill: #999; }
  .user-bar__notification, .user-bar__text {
    font-weight: bold; }
  .user-bar__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    padding: .6rem;
    color: #fff;
    font-size: 1.1rem;
    background-color: #fa3e3e;
    border-radius: 50%;
    top: 1.7rem;
    left: 1.5rem; }
  .user-bar__text {
    margin-left: 1rem; }
  .user-bar__btn {
    margin-right: 1rem; }

.main-title {
  display: flex;
  align-items: center; }
  .main-title__score {
    display: flex;
    align-items: center; }
  .main-title__like {
    margin: 0 3rem 3rem 0;
    display: none !important; }
    @media only screen and (max-width: 43.75em) {
      .main-title__like {
        display: block !important; } }

@media only screen and (max-width: 68.5em) {
  .page-numbers {
    display: flex;
    justify-content: center; } }

.page-numbers__box {
  display: flex;
  align-items: center;
  list-style: none; }

.page-numbers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  background-color: #e6e6e6;
  border-radius: 0.6rem;
  transition: all 0.5s;
  cursor: pointer; }
  @media only screen and (max-width: 43.75em) {
    .page-numbers__item:nth-child(5), .page-numbers__item:nth-child(6), .page-numbers__item:nth-child(7), .page-numbers__item:nth-child(8), .page-numbers__item:nth-child(9) {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .page-numbers__item {
      height: 4rem;
      width: 4rem; } }
  .page-numbers__item:hover:not(:nth-child(6)) {
    background-color: rgba(166, 166, 166, 0.3); }
  .page-numbers__item:nth-child(10):hover {
    background-color: transparent; }
  .page-numbers__item:not(:last-child) {
    margin-right: .7rem; }
  .page-numbers__item--active {
    background-color: rgba(230, 230, 230, 0.3); }
  .page-numbers__item--border {
    border: 0.1rem solid #e6e6e6;
    background-color: transparent; }

.page-numbers__link {
  color: #999;
  font-size: 1.8rem;
  font-weight: bold;
  outline: none; }

.burger {
  display: none;
  height: 3rem;
  width: 3rem;
  padding: .9rem .6rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #5A5A5A;
  cursor: pointer; }
  @media only screen and (max-width: 68.5em) {
    .burger {
      display: block; } }
  .burger span {
    display: block;
    height: .2rem;
    width: 1.6rem;
    margin-top: .4rem;
    background-color: #5A5A5A;
    position: relative; }
    .burger span::before, .burger span::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: inherit; }
    .burger span::before {
      top: .6rem; }
    .burger span::after {
      top: -.6rem; }

.logo:link, .logo:visited {
  color: #f9f9f9;
  font-family: "Lobster", sans-serif;
  font-size: 3.2rem;
  outline: none; }

.search {
  display: flex;
  width: 26rem;
  height: 4rem;
  background-color: #363636;
  border-radius: 0.3rem; }
  @media only screen and (max-width: 48em) {
    .search {
      display: none; } }
  .search__input {
    font-family: "Helvetica", sans-serif;
    color: inherit;
    font-weight: bold;
    margin-left: 2rem;
    border: 0;
    background-color: transparent; }
  .search--white {
    margin: 0 auto;
    height: 3rem;
    width: 35.5rem;
    background-color: transparent;
    border: 0.1rem solid #c1c1c1; }

.btn, .btn:link, .btn:visited {
  height: 3.5rem;
  width: 9.7rem;
  color: #999;
  background-color: #363636;
  border-radius: 0.3rem;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  text-align: right;
  padding: 0 .7rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      display: none; } }
  .btn::-moz-focus-inner, .btn:link::-moz-focus-inner, .btn:visited::-moz-focus-inner {
    border: 0; }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: '';
    position: absolute;
    display: block;
    width: 1.3rem;
    height: 1.4rem;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M11.5632 4.60642V13.0352C11.5632 13.1328 11.4656 13.232 11.3664 13.232H1.0784C0.9808 13.232 0.8816 13.1344 0.8816 13.0352V1.56802C0.8816 1.47042 0.9792 1.37122 1.0784 1.37122H7.6448V0.489624H1.0784C0.4896 0.489624 0 0.979224 0 1.56802V13.0336C0 13.6224 0.4896 14.112 1.0784 14.112H11.368C11.9552 14.112 12.4464 13.6224 12.4464 13.0336C12.4464 13.0336 12.4464 4.70402 12.4464 4.60482H11.5632V4.60642Z' />\a             <path d='M4.21436 6.272L3.52795 9.3104L6.56476 8.624L12.8368 2.352L10.4848 0L4.21436 6.272ZM11.0736 2.2544L6.36956 7.056L5.78236 6.4672L10.4864 1.7632L11.0736 2.2544Z' /></svg>");
    mask-size: cover;
    background-color: #999;
    bottom: 30%;
    left: auto; }
    @media only screen and (max-width: 37.5em) {
      .btn::after, .btn:link::after, .btn:visited::after {
        bottom: 35%; } }

.btn--sidebar {
  display: none;
  color: #333;
  font-size: inherit;
  font-weight: inherit;
  width: 10.2rem;
  transform: translateY(-1.5rem);
  background-color: transparent;
  margin-left: .3rem; }
  @media only screen and (max-width: 37.5em) {
    .btn--sidebar {
      display: block; } }

.like {
  color: #61964f;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative; }
  .like--red {
    color: #fa3e3e; }
  .like::before, .like::after {
    content: '';
    position: absolute;
    display: block;
    left: 5%;
    height: 1rem;
    width: 1.6rem;
    mask-size: cover;
    background-color: #c1c1c1;
    cursor: pointer; }
  .like::before {
    top: -2.2rem;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M16 7.5624L13.3333 9.93828L8 5.32717L2.66667 9.93828L-9.42978e-08 7.5624L8 0.716056L16 7.5624Z' /></svg>"); }
  .like::after {
    top: 2.8rem;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M-9.42978e-08 3.30181L2.66667 0.925933L8 5.53705L13.3333 0.925934L16 3.30181L8 10.1482L-9.42978e-08 3.30181Z' /></svg>"); }

.container {
  margin: 0 auto;
  max-width: 100rem; }
  @media only screen and (max-width: 68.5em) {
    .container {
      max-width: 75.4rem;
      padding: 0 1rem; } }

.header {
  height: 5.5rem;
  background-color: #2e2e2e; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header__logo {
    margin-right: 18rem;
    transform: translateY(-0.2rem); }
    @media only screen and (max-width: 68.5em) {
      .header__logo {
        margin-right: 0; } }
    @media only screen and (max-width: 48em) {
      .header__logo {
        margin: 0 auto 0 2.3rem; } }
  @media only screen and (max-width: 68.5em) {
    .header__search {
      margin: 0 -2.3rem 0 2.3rem; } }

.main__container {
  display: flex;
  padding: 2.5rem 0 16rem 0;
  position: relative; }
  @media only screen and (max-width: 68.5em) {
    .main__container {
      padding: 1.1rem 1.1rem 11rem 1.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .main__container {
      padding: 1.1rem 0 3rem 0; } }

.sidebar {
  flex: 0 0 22%;
  transform: translateX(-1rem); }
  @media only screen and (max-width: 68.5em) {
    .sidebar {
      display: none;
      position: absolute;
      width: 37.4rem;
      height: 100%;
      top: 0;
      left: 1rem;
      z-index: 1;
      background-color: #fff;
      box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.2); } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      width: 100vw; } }
  @media only screen and (max-width: 68.5em) {
    .sidebar__home, .sidebar__sort {
      display: none; } }
  @media only screen and (max-width: 48em) {
    .sidebar__home {
      display: block; } }
  .sidebar__owners {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__owners {
        display: block; } }
  .sidebar__search {
    display: none; }
    @media only screen and (max-width: 48em) {
      .sidebar__search {
        display: block;
        padding-top: .5rem;
        margin: 1.5rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .sidebar__search {
        width: 80vw; } }
  .sidebar__item {
    display: flex;
    align-items: center;
    height: 3.9rem;
    padding-left: 1rem;
    cursor: pointer; }
    .sidebar__item--active {
      background-color: #f9f9f9;
      box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 68.5em) {
      .sidebar__item:not(:nth-child(n+2)) {
        border-top: solid 0.1rem #f2f2f2; } }
  .sidebar__icon {
    fill: #A6A6A6;
    height: 1rem;
    width: 1rem; }
  .sidebar__number {
    font-size: 1.2rem;
    font-weight: normal;
    width: 1.9rem;
    text-align: center; }
    @media only screen and (max-width: 68.5em) {
      .sidebar__number {
        font-weight: bold; } }
  .sidebar__link {
    color: #333;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-left: 1.7rem; }
    .sidebar__link--m {
      margin-left: 2.8rem; }
  .sidebar__active {
    display: block;
    animation: fade .6s; }

.footer {
  height: 6.3rem;
  width: 100%;
  background-color: #424242;
  position: absolute;
  left: 0;
  bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: none; } }
  .footer__logo {
    color: #9e9e9e !important;
    transform: translateY(-0.4rem); }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .footer__list {
    display: flex;
    height: 100%;
    margin-left: 3.5rem; }
    @media only screen and (max-width: 68.5em) {
      .footer__list {
        margin-left: 1.2rem; } }
  .footer__item {
    display: flex;
    align-items: center;
    align-self: stretch;
    list-style: none;
    padding: 0 1.5rem;
    transition: all 0.5s;
    cursor: pointer; }
    @media only screen and (max-width: 68.5em) {
      .footer__item {
        padding: 0 1rem; } }
    .footer__item:hover {
      background-color: #4e4e4e; }
  .footer__link {
    color: #c9c9c9;
    font-size: 1.5rem;
    font-weight: bold; }
  .footer__copyright {
    color: #bfbfbf;
    font-size: 1.4rem;
    margin-left: auto; }
    @media only screen and (max-width: 68.5em) {
      .footer__copyright {
        display: none; } }
