// COLORS
$color-primary: #4E254F;
$color-primary-2: #9ACCC2;

$color-gray: #F7F8FC;
$color-red: #ed4156;
$color-white: #fff;

//FONT_SIZE
$default-font-size: 1.6rem;

// FONTS
$font-helvetica-100: 'Helvetica Neue Light', sans-serif;
$font-helvetica-400: 'Helvetica Neue Regular', sans-serif;
$font-helvetica-700: 'Helvetica Neue Medium', sans-serif;
$font-helvetica-900: 'Helvetica Neue Bold', sans-serif;
