.burger {
    width: 2rem;
    position: relative;
    transform: translateY(.9rem);

    &,
    &::before,
    &::after {
        content: '';
        display: none;
        position: absolute;
        background-color: $color-primary;
        height: .2rem;

        @include respond(tab-port) { display: block; }
    }

    &::before,
    &::after { width: 100%; }

    &::before { top: -.7rem; }
    &::after { top: .7rem; }
}

.burger-close {
    background-color: transparent;

    &::before { 
        top: 0;
        transform: rotate(45deg); 
    }

    &::after { 
        top: 0;
        transform: rotate(-45deg); 
    }
}