.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        color: $color-gold;
        background-color: $color-white;
        letter-spacing: .3rem;
        padding: 1rem 5rem;
        border-radius: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .5s;

        @include respond(tab-port) { padding: 1.5rem 10rem; }
    }

    &:hover {
        color: $color-white;
        background-color: $color-gold;

        @media only screen and (max-width: 47.75em),
               only screen and (hover: none) { 
            color: $color-gold;
            background-color: $color-white;
        }
    }
}