.blog-item {
    display: grid;
    align-content: start;

    padding: 4.8rem;
    transition: $transition;
    cursor: pointer;

    @include respond(tab-port) { box-shadow: $box-shadow-right; }

    &:hover { box-shadow: $box-shadow-right; }
    &:hover .btn-inline { color: $color-orange; }
}