.card {        
    height: 100%;
    background-color: rgba($color-orange, .1);
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    cursor: pointer;

    &__side {
        height: 95%;
        width: 95%;
        backface-visibility: hidden;
        transition: $transition-slow;
        position: absolute;
        top: 2.5%;
        left: 2.5%;

        &--front { 
            &-1 { @include bg(url(../img/intro/find-bg.png)); }
            &-2 { @include bg(url(../img/intro/work-bg.png)); }
        }

        &--back {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
          
            background-color: $color-gray-1; 
            transform: rotateY(180deg);
        }
    }

    &__picture,
    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    &__picture {
        background-blend-mode: color;
        background-size: cover;

        &--1 {
            @include bg-blend(url(../img/intro/wedding.png)); 
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        &--2 {
            @include bg-blend(url(../img/intro/breakfast.png));clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 100;
        z-index: 1;
        color: $color-white;
        text-transform: uppercase;
        position: relative;
    }

    &__title {
        position: absolute;
        bottom: 6%;
        background-color: rgba($color-orange, .8);
        padding: .2rem 1rem;

        &--right { right: 4%; }

        &--left { left: 4%; }
    }

    &__details {
        text-align: center;
        justify-self: center;
        align-self: center;

        ul { 
            list-style: none; 
            margin-bottom: 2rem;
        }
        li { 
            padding: 2rem 0;

            &:not(:last-child) { border-bottom: solid .1rem $color-gray-2; }
        }
    }

    @media only screen and (max-width: 56.25em), 
        only screen and (hover: none) { 
            
        &:hover &__side--front { transform: rotateY(-180deg); }

        &:hover &__side--back {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transform: rotateY(0);
        }
    }
}