.gift {
    display: grid;
    grid-template-rows: 1fr min-content;

    height: 100%;
    background-color: $color-gray-1;
    
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        box-shadow: $box-shadow-right;
    }

    &:hover .btn-inline { color: $color-orange }

    &:hover &__picture-box::after { background-color: transparent}

    &:hover &__picture { transform: scale(1.1); }
    
    
    &__picture-box {
        overflow: hidden;
        position: relative;
        display: block;
        height: 100%;
        
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color-primary, .2);
        }
    }

    &__picture {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__content { padding: 0 0 2.4rem 2.4rem; }
}
    
.gift,
.gift__picture,
.gift__picture-box::after { transition: $transition; }

   