// FONT
$font-roboto: 'Roboto', sans-serif;
$font-apple: 'Homemade Apple', cursive;

// COLORS
$color-primary: #000;

$color-white: #fff;

$color-gray-1: #FAFAFA;
$color-gray-2: #F1F1F2;
$color-gray-3: #231F20;

$color-orange: #F7941E;

// TRANSITION
$transition: all .3s;
$transition-slow: all 1s ease;

// BOX-SHADOW
$box-shadow-right: 1rem 1rem 1.5rem rgba($color-primary, .05)

