.heading-secondary--slim, .heading-tertiary--slim, .heading-quaternary, .heading-quinary {
  font-weight: inherit; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

.heading-primary {
  font-size: 5.4rem; }
  @media only screen and (max-width: 64em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary--slim {
  font-size: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary--slim {
      font-size: 3rem; } }

.heading-tertiary {
  line-height: 140%; }
  .heading-tertiary--thick {
    font-weight: 700; }
  .heading-tertiary--thin {
    font-weight: 400; }

.heading-quaternary {
  font-size: 2rem; }

.heading-quinary {
  color: #fff;
  font-size: 1.4rem; }

.paragraph {
  line-height: 145%; }
  @media only screen and (max-width: 64em) {
    .paragraph {
      font-size: 1.6rem; } }

.mt-24px {
  margin-top: 2.4rem; }

.mt-74px {
  margin-top: 7.4rem; }

.mb-16px {
  margin-bottom: 1.6rem; }

.mb-23px {
  margin-bottom: 2.3rem; }

.mb-36px {
  margin-bottom: 3.6rem; }

.mb-52px {
  margin-bottom: 5.2rem; }
  @media only screen and (max-width: 64em) {
    .mb-52px {
      margin-bottom: 3rem; } }

.mb-60px {
  margin-bottom: 6rem; }

@media only screen and (max-width: 64em) {
  .mb-23px,
  .mb-36px {
    margin-bottom: 2rem; } }

.logo {
  font-family: "Homemade Apple", cursive; }

.btn {
  color: #F7941E;
  display: inline-block;
  padding: 1rem 2.4rem;
  border: solid 0.1rem #F7941E;
  border-radius: .5rem;
  text-transform: uppercase; }
  .btn:hover, .btn--active {
    color: #fff;
    background-color: #F7941E; }
  .btn--active:hover {
    color: #F7941E;
    background-color: transparent; }
  .btn--black {
    color: #000;
    border: solid 0.1rem #000; }
    .btn--black:hover, .btn--black-active, .btn--black-active:hover {
      color: #fff;
      background-color: #231F20;
      border: solid 0.1rem #231F20; }

.btn-inline {
  display: inline-block;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400; }
  .btn-inline:hover {
    color: #F7941E; }

.btn,
.btn-inline {
  transition: all 0.3s;
  text-decoration: none; }
  .btn--white,
  .btn-inline--white {
    color: #fff; }

.card {
  height: 100%;
  background-color: rgba(247, 148, 30, 0.1);
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  cursor: pointer; }
  .card__side {
    height: 95%;
    width: 95%;
    backface-visibility: hidden;
    transition: all 1s ease;
    position: absolute;
    top: 2.5%;
    left: 2.5%; }
    .card__side--front-1 {
      background: url(../img/intro/find-bg.png) center no-repeat;
      background-size: cover; }
    .card__side--front-2 {
      background: url(../img/intro/work-bg.png) center no-repeat;
      background-size: cover; }
    .card__side--back {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      background-color: #FAFAFA;
      transform: rotateY(180deg); }
  .card__picture, .card__heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__picture {
    background-blend-mode: color;
    background-size: cover; }
    .card__picture--1 {
      background-blend-mode: screen;
      background-image: linear-gradient(to right bottom, #F7941E, rgba(247, 148, 30, 0.5)), url(../img/intro/wedding.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--2 {
      background-blend-mode: screen;
      background-image: linear-gradient(to right bottom, #F7941E, rgba(247, 148, 30, 0.5)), url(../img/intro/breakfast.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  .card__heading {
    font-size: 3rem;
    font-weight: 100;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    position: relative; }
  .card__title {
    position: absolute;
    bottom: 6%;
    background-color: rgba(247, 148, 30, 0.8);
    padding: .2rem 1rem; }
    .card__title--right {
      right: 4%; }
    .card__title--left {
      left: 4%; }
  .card__details {
    text-align: center;
    justify-self: center;
    align-self: center; }
    .card__details ul {
      list-style: none;
      margin-bottom: 2rem; }
    .card__details li {
      padding: 2rem 0; }
      .card__details li:not(:last-child) {
        border-bottom: solid 0.1rem #F1F1F2; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateY(0); }
    @media only screen and (max-width: 56.25em) {
      .card:hover .card__side--back {
        display: none; } }

.gift {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
  background-color: #FAFAFA;
  cursor: pointer; }
  .gift:hover {
    background-color: #fff;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.05); }
  .gift:hover .btn-inline {
    color: #F7941E; }
  .gift:hover .gift__picture-box::after {
    background-color: transparent; }
  .gift:hover .gift__picture {
    transform: scale(1.1); }
  .gift__picture-box {
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%; }
    .gift__picture-box::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2); }
  .gift__picture {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
  .gift__content {
    padding: 0 0 2.4rem 2.4rem; }

.gift,
.gift__picture,
.gift__picture-box::after {
  transition: all 0.3s; }

.blog-item {
  display: grid;
  align-content: start;
  padding: 4.8rem;
  transition: all 0.3s;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .blog-item {
      box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.05); } }
  .blog-item:hover {
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.05); }
  .blog-item:hover .btn-inline {
    color: #F7941E; }

.grid-container {
  display: grid;
  grid-template-rows: 10.7rem repeat(2, 39vw);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.6rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  background-color: #FAFAFA;
  padding: 0 8rem; }
  .header__nav {
    justify-self: center;
    transform: translateX(5rem); }
  .header__list {
    list-style: none; }
  .header__item {
    display: inline-block; }
    .header__item:not(:last-child) {
      margin-right: 3.1rem; }
  .header__link:link, .header__link:visited {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-bottom: solid .2rem transparent; }
    .header__link:link:hover, .header__link:visited:hover {
      border-bottom: solid 0.2rem #F7941E; }
  .header__btn {
    justify-self: end; }

.intro__find-content, .intro__work-content {
  display: grid;
  align-content: center;
  justify-items: start;
  background-color: #F1F1F2;
  padding: 0 10vw; }

.intro__find-content, .intro__work-card-box {
  grid-column: full-start / col-end 4; }

.intro__find-card-box, .intro__work-content {
  grid-column: col-end 4 / full-end; }

.intro__paragraph {
  text-align: justify; }

.gifts {
  grid-column: center-start / center-end;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 9.6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .gifts {
      padding: 5rem 0; } }
  .gifts__items-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 3rem;
    margin-top: 6.4rem;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .gifts__items-box {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr); } }

.start {
  grid-column: full-start / full-end;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  background-color: #F7941E;
  padding: 9.6rem 23.5rem; }
  @media only screen and (max-width: 56.25em) {
    .start {
      grid-auto-flow: row;
      row-gap: 1rem;
      padding: 5rem 23.5rem; } }
  .start__title {
    justify-self: start; }
    @media only screen and (max-width: 56.25em) {
      .start__title {
        justify-self: inherit;
        align-self: end; } }
  .start__btn-box {
    justify-self: end; }
    @media only screen and (max-width: 68.75em) {
      .start__btn-box {
        display: grid;
        grid-auto-flow: row; } }
    @media only screen and (max-width: 56.25em) {
      .start__btn-box {
        justify-self: inherit;
        align-self: start; } }
  .start__btn:not(:first-child) {
    margin-left: 1.6rem; }
    @media only screen and (max-width: 68.75em) {
      .start__btn:not(:first-child) {
        margin: 1rem 0 0 0; } }

.blog {
  grid-column: center-start / center-end;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 9.6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .blog {
      padding: 5rem 0; } }
  .blog__story {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column: 1 / -1;
    overflow: hidden; }
  .blog__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 3rem;
    margin-top: 6.4rem; }
  .blog__box, .blog__story {
    width: 100%; }
  .blog__story-content {
    display: grid;
    align-content: center;
    align-items: center;
    color: #fff;
    background-color: #231F20;
    padding: 2rem 0 2rem 7.8rem; }
  .blog__picture {
    width: 100%;
    height: 100%;
    display: block; }

.footer {
  grid-column: full-start / full-end;
  background-color: #FAFAFA;
  padding: 10rem 22rem 3.2rem;
  width: 100%;
  display: grid; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 5rem 22rem 3.2rem; } }
  .footer__list {
    display: grid;
    align-items: center;
    grid-auto-flow: column; }
    .footer__list::after {
      content: '';
      display: block;
      width: 130%;
      border-bottom: solid 0.2rem #000;
      bottom: 0;
      justify-self: center;
      padding-bottom: 5rem;
      grid-row: 2 / 3;
      grid-column: 1 / span 5; }
  .footer__item {
    display: inline-block; }
    .footer__item:nth-child(n+4) {
      justify-self: end; }
  .footer__link:link, .footer__link:visited {
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none; }
    .footer__link:link:hover, .footer__link:visited:hover {
      color: #F7941E; }
  .footer__logo {
    color: #F7941E;
    justify-self: center; }
  .footer__icon-box {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 2.6rem;
    padding-top: 5rem;
    list-style: none; }
  .footer__icon-item {
    cursor: pointer; }
    .footer__icon-item:hover {
      transform: translateY(-0.5rem); }
  .footer__icon {
    width: 4rem;
    height: 4rem; }
    .footer__icon:hover {
      fill: #F7941E; }
  .footer__copyright {
    margin-top: 7.2rem;
    justify-self: center; }
  .footer__icon-item, .footer__icon, .footer__link {
    transition: all 0.3s; }
