// FONT
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-black: #000;
$color-white: #fff;

$color-gray-light: #f0f0f0;
$color-gray-dark: #626262;

$color-deep-red: #eb2c2f;
$color-yellow: #ffc743;
$color-green: #79dd8a;
$color-red: #df7356;




