.join {
    &__hood {
        color: $color-white;
        background-color: $color-gray-dark;
        padding: 3rem 3rem 3rem 4vw; 

        grid-column: full-start / col-start 5;

        @include respond(phone) { 
            padding: 4rem 4rem 4rem 4vw;

            grid-column: full-start / col-start 6; 
        }

        @include respond(tab-port) { padding: 8rem 8rem 8rem 4vw; }
    }

    &__cta {
        background-color: $color-purple-1;

        display: grid;
        justify-items: center;
        align-items: center;

        grid-column: col-start 5 / full-end;
        
        @include respond(phone) { grid-column: col-start 6 / full-end; }
    }

    &__icon {
        fill: $color-white;
        width: 1.8rem;
        height: 2.8rem;

    }
}