.logo::after, .post::after {
  content: '';
  position: absolute;
  left: 0;
  border: 0.3rem solid rgba(201, 169, 110, 0.3);
  z-index: -1; }

/*
0-600px:      phone
600-900px:    tablet portrait
900-1200px:   tablet landscape
*/
@keyframes introAnimaitionFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "PT Serif", serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #171717;
  overflow-x: hidden;
  position: relative; }

ul {
  list-style: none; }

a:link, a:visited {
  color: inherit;
  text-decoration: none; }

.heading-primary {
  font-size: 4rem;
  animation: introAnimaitionFromLeft 1s ease-out; }
  @media only screen and (max-width: 43.75em) {
    .heading-primary {
      font-size: 6.2vw; } }

.heading-secondary {
  font-size: 2rem; }
  .heading-secondary--center {
    text-align: center; }
  .heading-secondary--small {
    font-size: 1.8rem; }

.heading-secondary,
.heading-quaternary {
  font-weight: 400; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700; }

.heading-quaternary--italic {
  color: #b1b1b1;
  text-transform: none !important;
  font-style: italic; }

.heading-quaternary,
.heading-quinary {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase; }

.heading-quinary {
  font-size: 1.2rem;
  color: #C9A96E; }

.heading-quaternary,
.paragraph {
  font-size: 1.4rem; }

.paragraph {
  line-height: 2.5rem;
  color: #666; }

.mt-5px {
  margin-top: .5rem; }

.mt-10px {
  margin-top: 1rem; }

.mt-15px {
  margin-top: 1.5rem; }

.mt-20px {
  margin-top: 2rem !important; }

.mt-24px {
  margin-top: 2.4rem; }

.mt-30px {
  margin-top: 3rem; }

.mt-60px {
  margin-top: 6rem; }

.mt-70px {
  margin-top: 7rem; }

.mt-80px {
  margin-top: 8rem !important; }

.mt-100px {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 43.75em) {
    .mt-100px {
      margin-top: 5rem !important; } }

.mb-20px {
  margin-bottom: 2rem; }

.mb-30px {
  margin-bottom: 3rem; }

.mb-70px {
  margin-bottom: 7rem !important; }
  @media only screen and (max-width: 43.75em) {
    .mb-70px {
      margin-bottom: 5rem !important; } }

.social-box::after {
  content: '';
  display: table;
  clear: both; }

.social-box__item:link, .social-box__item:visited {
  margin: .3rem;
  float: left;
  background-color: #F8F9FA;
  width: 8.6rem;
  height: 8.6rem;
  position: relative;
  transition: all 0.2s; }
  @media only screen and (max-width: 76.875em) {
    .social-box__item:link, .social-box__item:visited {
      width: 7.6rem;
      height: 8.6rem; } }
  .social-box__item:link:hover, .social-box__item:visited:hover {
    background-color: #f2f4f6; }
  .social-box__item:link:nth-child(1), .social-box__item:link:nth-child(4), .social-box__item:visited:nth-child(1), .social-box__item:visited:nth-child(4) {
    margin: .3rem .3rem .3rem 0; }
  .social-box__item:link:nth-child(3), .social-box__item:link:nth-child(6), .social-box__item:visited:nth-child(3), .social-box__item:visited:nth-child(6) {
    margin: .3rem 0 .3rem .3rem; }

.social-box__icon {
  position: absolute;
  top: 1.7rem;
  left: 50%;
  transform: translate(-50%);
  fill: #5A5A5A;
  height: 2.2rem;
  width: 2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 76.875em) {
    .social-box__icon {
      top: 1.5rem; } }

.social-box__number, .social-box__follower {
  text-align: center;
  color: #999;
  font-size: 1.2rem; }

.social-box__number {
  padding-top: 4.3rem; }

.categories__item {
  padding: 1.5rem 0; }
  .categories__item::after {
    content: '';
    display: table;
    clear: both; }
  .categories__item:not(:last-child) {
    border-bottom: solid 0.1rem #eee; }

.categories__link, .categories__link:link, .categories__link:visited {
  color: #666 !important;
  transition: all 0.5s;
  outline: 0; }
  .categories__link:hover, .categories__link:link:hover, .categories__link:visited:hover {
    color: #171717 !important; }
  .categories__link:nth-child(1), .categories__link:link:nth-child(1), .categories__link:visited:nth-child(1) {
    float: left; }
  .categories__link:nth-child(2), .categories__link:link:nth-child(2), .categories__link:visited:nth-child(2) {
    float: right; }

.sidebar-title {
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem 7.2rem;
  border: solid 0.1rem #eee; }

.page-numbers {
  display: block;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
  width: 56rem;
  margin: 0 auto;
  border: solid 0.1rem #eee;
  padding: 1rem 3.8rem; }
  @media only screen and (max-width: 43.75em) {
    .page-numbers {
      width: 75vw;
      text-align: center; } }
  .page-numbers__link {
    display: inline-block;
    transition: all 0.5s;
    outline: none; }
    .page-numbers__link:hover {
      color: #b1b1b1; }
    .page-numbers__link:nth-child(1) {
      margin-left: 1.5rem; }
    .page-numbers__link:nth-child(1), .page-numbers__link:nth-child(6) {
      margin-right: 3rem; }
    @media only screen and (max-width: 43.75em) {
      .page-numbers__link:nth-child(6) {
        margin-right: 0; } }
    @media only screen and (max-width: 43.75em) {
      .page-numbers__link:nth-child(1), .page-numbers__link:nth-child(7) {
        display: none; } }
    .page-numbers__link:nth-child(2), .page-numbers__link:nth-child(3), .page-numbers__link:nth-child(4), .page-numbers__link:nth-child(5) {
      margin-right: 4rem; }
      @media only screen and (max-width: 43.75em) {
        .page-numbers__link:nth-child(2), .page-numbers__link:nth-child(3), .page-numbers__link:nth-child(4), .page-numbers__link:nth-child(5) {
          margin-right: 2rem; } }

.menu {
  padding: .8rem 0 .5rem 0; }
  .menu__item {
    display: inline-block; }
    .menu__item:not(:nth-child(5)) {
      margin-right: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .menu__item:nth-child(5) {
        margin-right: 2rem; } }
    .menu__item:nth-child(6), .menu__item:nth-child(7) {
      display: none; }
      @media only screen and (max-width: 68.75em) {
        .menu__item:nth-child(6), .menu__item:nth-child(7) {
          display: inline-block;
          color: #C9A96E; } }
      @media only screen and (max-width: 68.75em) {
        .menu__item:nth-child(6):nth-child(7), .menu__item:nth-child(7):nth-child(7) {
          margin-right: 0; } }
      @media only screen and (max-width: 31.25em) {
        .menu__item:nth-child(6):nth-child(7), .menu__item:nth-child(7):nth-child(7) {
          margin-right: 2rem; } }
  .menu__link:link, .menu__link:visited {
    transition: all 0.5s;
    outline: none; }
    .menu__link:link:hover, .menu__link:visited:hover {
      color: #C9A96E; }

.stats__item {
  display: inline-block; }
  .stats__item:not(:last-child) {
    margin-right: 1rem; }

.stats__link span {
  color: #b4b4b4; }

.stats__link--gray {
  color: #666 !important; }
  .stats__link--gray span {
    color: #b1b1b1; }

.stats__link, .stats__link--gray {
  outline: 0;
  transition: all 0.5s; }
  .stats__link:hover, .stats__link--gray:hover {
    color: #171717 !important; }

.tags {
  margin: 0 auto; }
  .tags::after {
    content: '';
    display: table;
    clear: both; }
  .tags__item {
    display: inline-block;
    padding: .5rem 1.4rem;
    background-color: #F8F9FA;
    margin: 0 1rem 1rem 0;
    transition: all 0.5s;
    cursor: pointer; }
    @media only screen and (max-width: 76.875em) {
      .tags__item {
        margin-right: 2rem; } }
    .tags__item:hover {
      background-color: #f2f4f6; }
    .tags__item:nth-child(3), .tags__item:nth-child(6), .tags__item:nth-child(9), .tags__item:nth-child(12) {
      margin-right: 0; }
    @media only screen and (max-width: 76.875em) {
      .tags__item:nth-child(3), .tags__item:nth-child(9) {
        margin-right: 2rem; } }
    .tags__item:nth-child(10), .tags__item:nth-child(11), .tags__item:nth-child(12) {
      margin-bottom: 0; }
  .tags__link:link, .tags__link:visited {
    outline: none;
    color: #666; }

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 43.75em) {
    .logo {
      display: inline; } }
  .logo::after {
    width: 98%;
    bottom: .7rem; }

.post {
  box-shadow: 0 2px 5px rgba(23, 23, 23, 0.1);
  transition: all 0.2s;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 43.75em) {
    .post {
      margin-bottom: 3rem; } }
  .post::after {
    width: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s; }
  .post:hover::after {
    opacity: 1;
    width: 100%; }
  .post__photo {
    width: 100%; }
    .post__photo--big {
      height: 35rem; }
      @media only screen and (max-width: 31.25em) {
        .post__photo--big {
          height: 20rem; } }
    .post__photo--small {
      height: 18rem; }
  .post__main {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem 4.2rem; }
    @media only screen and (max-width: 56.25em) {
      .post__main {
        padding: 2.5rem 2rem; } }
    .post__main--small {
      padding: 1rem 1rem 1.5rem 1rem; }
    .post__main--left {
      text-align: left !important;
      padding: 1.5rem 10rem 1.5rem 4.2rem; }
      @media only screen and (max-width: 56.25em) {
        .post__main--left {
          padding: 2.5rem; } }

.continue, .continue:link, .continue:visited {
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #C9A96E !important;
  position: relative; }
  .continue::before, .continue:link::before, .continue:visited::before {
    content: '';
    display: block;
    position: absolute;
    width: 108%;
    left: -1rem;
    top: -1.2rem;
    border: solid 0.1rem #eee; }

.gallery {
  width: 100%; }
  .gallery::after {
    content: '';
    display: table;
    clear: both; }
  .gallery__item {
    float: left;
    width: 16.6666667%; }
  .gallery__photo {
    height: auto;
    width: 100%; }

.share__item {
  display: inline-block;
  padding: 1rem;
  height: 4.2rem;
  width: 4.1rem;
  border: solid 0.1rem #eee;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer; }
  .share__item:hover {
    background-color: #C9A96E; }
  .share__item:not(:last-child) {
    margin-right: 2rem; }

.share__item:hover .share__icon {
  fill: #fff; }

.share__icon {
  fill: #666;
  height: 2.2rem;
  width: 2.2rem;
  transition: all 0.5s; }

.row {
  max-width: 117rem;
  margin: 0 auto; }
  @media only screen and (max-width: 76.875em) {
    .row {
      margin: 0 1.5rem; } }
  .row--center {
    text-align: center; }
  .row--big {
    max-width: 176rem;
    padding: 0; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 43.75em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 43.75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
    @media only screen and (max-width: 43.75em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }
  .row::after {
    content: '';
    display: table;
    clear: both; }

.header {
  padding: 3.4rem 2rem;
  background-color: #fff; }
  @media only screen and (max-width: 76.875em) {
    .header {
      padding: 2rem 0; } }
  .header__inner::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (max-width: 43.75em) {
    .header__inner {
      text-align: center; } }
  .header__logo {
    float: left; }
    @media only screen and (max-width: 43.75em) {
      .header__logo {
        float: none; } }
  .header__menu {
    float: right; }
    @media only screen and (max-width: 43.75em) {
      .header__menu {
        float: none; } }

.header.fixed {
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(23, 23, 23, 0.1); }

.intro {
  height: calc(100vh - 10.1rem);
  background: url(../img/hero.png) center no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 43.75em) {
    .intro {
      height: 75vh; } }
  .intro::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.2); }
  .intro__text-box {
    color: #fff;
    position: absolute;
    bottom: 6rem;
    z-index: 1; }

.blog {
  width: 77rem;
  float: left; }
  @media only screen and (max-width: 68.75em) {
    .blog {
      width: 100%; } }

.sidebar {
  width: 27rem;
  float: right; }
  @media only screen and (max-width: 68.75em) {
    .sidebar {
      display: none; } }

.footer__logo {
  display: inline-block; }

.footer__share {
  padding-bottom: 4rem;
  border-bottom: solid 0.1rem #eee; }

.footer__copyright {
  padding: 3rem 0;
  color: #666; }

@media only screen and (max-width: 43.75em) {
  .main__page-numbers {
    margin-bottom: 2rem; } }
