body {
    color: var(--color-gray);
    font-family: var(--font-roboto);
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    background-color: var(--color-gray-1);
    background-size: cover;
    min-height: 100vh;
}

.heading-secondary,
.heading-tertiary { font-weight: 100; }

.heading-primary {
    font-weight: 300;
    text-transform: uppercase;

    span { 
        display: block; 

        &:nth-child(1) {
            color: var(--color-mint-dark);
            font-size: 3rem;
            margin-bottom: 2rem;
            position: relative;

            @include respond(tab-port) { font-size: 2rem; }

            &::after {
                content: '';
                position: absolute;
                top: 4.4rem;
                background: var(--color-mint-light);
                display: block;
                width: 40%;
                margin-left: 30%;
                height: .1rem;

                @include respond(tab-port) { top: 3.4rem; }
            }
        }

        &:nth-child(2) {
            font-size: 1.5rem;
            color: var(--color-mint-light);
            margin-bottom: 2rem;
        }
    }
}

.heading-secondary {
    font-size: 2rem;
    margin-top: 3rem;
}

.heading-tertiary {
    display: flex;
    align-items: center;

    height: 3.5rem;
    font-size: 1.4rem;

    &--number { 
        color: var(--color-mint-1); 
        margin: 0 auto 0 .5rem; 
    }

    &--delete {
        color: var(--color-red);
        cursor: pointer;

        &:hover i { margin-left: 1rem; }

        & i { 
            margin-left: .5rem; 
            transition: all .2s;
        }
    }
}



