//COLORS
$color-sand: #e6c4a3;

$color-grey-light-1: #bebebe;
$color-grey-light-2: #b2b2b2;

$color-grey-dark-1: #474747;
$color-grey-dark-2: #333333;

$color-white: #fff;
$color-black: #000;

$shadow-light: 0 5rem 10rem rgba($color-black,.5);
$shadow-dark: 0 3rem 3rem rgba($color-black,.6);
$shadow-clicked: 0 1rem 1rem rgba($color-black,.8);

//FONTS
$font-montserrat: 'Montserrat', sans-serif;

//FONT SIZE
$default-font-size: 1.6rem;

//ANIMATION
$animation-all: all .5s;

//BORDER RADIUS
$b-radius: 5rem;