@keyframes toggleLink {
    0% {
        transform: translateX(2rem);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        transform: translateX(-.5rem);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes toggleHero {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotate {
    0% { transform: rotate(0); }
    
    100% { transform: rotate(360deg); } 
}

