// Helvetica Neue, weight 100
@font-face {
    @include HelveticaNeue('Helvetica Neue Light', 'Helvetica Neue Thin', 
                           '../font/light/HelveticaNeueCyr-Thin.woff2', 
                           '../font/light/HelveticaNeueCyr-Thin.woff', 
                           '../font/light/HelveticaNeueCyr-Thin.ttf', 
                           100, normal);
}

// Helvetica Neue, weight 400
@font-face {
    @include HelveticaNeue('Helvetica Neue Regular', 'Helvetica Neue Roman', 
                           '../font/regular/HelveticaNeueCyr-Roman.woff2', 
                           '../font/regular/HelveticaNeueCyr-Roman.woff', 
                           '../font/regular/HelveticaNeueCyr-Roman.ttf', 
                           400, normal);
}

// Helvetica Neue, weight 700
@font-face {
    @include HelveticaNeue('Helvetica Neue Medium', 'Helvetica Neue Medium', 
                           '../font/medium/HelveticaNeueCyr-Medium.woff2', 
                           '../font/medium/HelveticaNeueCyr-Medium.woff', 
                           '../font/medium/HelveticaNeueCyr-Medium.ttf', 
                           700, normal);
}

// Helvetica Neue, weight 900
@font-face {
    @include HelveticaNeue('Helvetica Neue Bold', 'Helvetica Neue Heavy', 
                           '../font/bold/HelveticaNeueCyr-Heavy.woff2', 
                           '../font/bold/HelveticaNeueCyr-Heavy.woff', 
                           '../font/bold/HelveticaNeueCyr-Heavy.ttf', 
                           900, normal);
}


body {
    font-family: $font-helvetica-100;
    font-size: $default-font-size; // 16px // 1rem = 10px
    color: $color-primary;
    position: relative;
}

.heading-primary {
    font-family: $font-helvetica-900;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 7.2rem;
    font-size: 6rem;

    @include respond(desktop-mini) {
        letter-spacing: .2rem;
        line-height: 5.6rem;
        font-size: 4.2rem;
    }

    @include respond(phone) {
        line-height: 3.9rem;
        font-size: 3rem;
    }
}

.heading-secondary {
    font-family: $font-helvetica-700;
    line-height: 3.2rem;
    font-size: 2.4rem;

    @include respond(desktop) { font-size: 1.8rem; }

    @include respond(phone) { font-size: 1.4rem; }
}