// FONT
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-red-muted: #ff2925;
$color-red: #ec2a24;

$color-gray-light: #eee;
$color-primary: #333;

$color-blue: #4169e1;

$color-white: #fff;
$color-black: #000;

