// FONT
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-primary: #333;
$color-white: #fff;

$color-gray-light: #eee;
$color-gray-dark: #202529;

$color-blue-1: #19b4c6;
$color-blue-2: #078aa4;

$color-purple-1: #cc569b;


