/*
0-600px:      phone
600-900px:    tablet portrait
900-1200px:   tablet landscape

1800+:        big screen
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 87.5%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 62.5%; } }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#474747), to(#333333));
  background-image: -o-linear-gradient(left top, #474747, #333333);
  background-image: linear-gradient(to right bottom, #474747, #333333);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    body {
      overflow-x: hidden; } }

@-webkit-keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem); }
  65% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem); }
  65% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.btn, .btn:link, .btn:visited {
  font-size: 1.2rem;
  padding: 1.2rem 3.5rem;
  background-color: #000;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
  color: #e6c4a3;
  letter-spacing: .2rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.btn:hover {
  -webkit-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 56.25em) {
    .btn:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6); } }

.btn--animated {
  -webkit-animation: moveFromBottom 2s;
  animation: moveFromBottom 2s; }

.burger {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  background: transparent;
  position: relative;
  display: none;
  outline: none; }
  @media only screen and (max-width: 56.25em) {
    .burger {
      display: block; } }
  .burger span {
    display: block;
    height: .5rem;
    width: 100%;
    background-color: #000; }
  .burger span::before,
  .burger span::after {
    content: "";
    position: absolute;
    display: block;
    height: .5rem;
    width: 100%;
    background-color: #000; }
  .burger span::before {
    top: .5rem; }
  .burger span::after {
    bottom: .5rem; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120rem;
  background-color: #fff;
  -webkit-box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.5);
  border-radius: .3rem;
  overflow: hidden;
  min-height: 73rem; }
  @media only screen and (max-width: 75em) {
    .container {
      min-height: 100vh; } }
  @media only screen and (max-width: 75em) {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100vh;
      border-radius: 0;
      margin: 0; } }
  .container__sidebar {
    padding: 2rem; }
    @media only screen and (max-width: 75em) {
      .container__sidebar {
        padding: 2rem; } }

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5%;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      border-bottom: solid 0.1rem rgba(190, 190, 190, 0.1); } }
  @media only screen and (max-width: 43.75em) {
    .sidebar {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .sidebar__text {
    color: #bebebe;
    font-size: 1.4rem;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .sidebar__text {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: relative; } }
    .sidebar__text span {
      color: #000;
      font-weight: 700;
      text-align: center; }
      @media only screen and (max-width: 43.75em) {
        .sidebar__text span {
          display: block; } }
  .sidebar__item {
    margin-top: auto; }
  .sidebar__icon {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    fill: #b2b2b2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .sidebar__icon {
        height: 1.8rem;
        width: 1.6rem; } }
    @media only screen and (max-width: 43.75em) {
      .sidebar__icon {
        display: none; } }
    .sidebar__icon:hover {
      fill: #bebebe; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(../img/bg-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .main:after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 900px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 900px), (min-resolution: 192dpi) and (min-width: 900px), (min-width: 1200px) {
    .main {
      background-image: url(../img/bg.png); } }
  @media only screen and (max-width: 75em) {
    .main {
      background-size: cover;
      background-position: center; } }
  .main__header {
    margin: 6rem 6rem 0 6rem; }
    @media only screen and (max-width: 43.75em) {
      .main__header {
        margin: 2rem; } }
  .main__btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 5rem;
    z-index: 1; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2; }
  .header__hero {
    color: currentColor;
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .header__hero:hover {
      color: #474747; }
  .header__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .header__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        padding-bottom: 8rem;
        height: 100vh;
        width: 100%;
        right: 0;
        top: 0;
        background-color: #fff;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform .5s ease-in;
        transition: -webkit-transform .5s ease-in;
        -o-transition: transform .5s ease-in;
        transition: transform .5s ease-in;
        transition: transform .5s ease-in, -webkit-transform .5s ease-in; } }
  .header__item {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    cursor: pointer; }
    .header__item:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 75em) {
        .header__item:not(:last-child) {
          margin-right: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__item:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__item {
        opacity: 0; } }
    .header__item:hover {
      color: #fff;
      background-color: #000; }
      @media only screen and (max-width: 56.25em) {
        .header__item:hover {
          color: inherit;
          background-color: #fff; } }
  .header__link {
    font-size: 1.4rem;
    color: currentColor;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .header__link {
        font-size: 2rem; } }

.list-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
