.container { 
    display: flex;

    max-width: 120rem;
    margin: 10rem auto;
    background-color: $color-white;
    box-shadow: $shadow-light;
    border-radius: .3rem;
    overflow: hidden;

    min-height: 73rem;

    @include respond(tab-land) {
        min-height: 100vh;
    }

    @include respond(tab-land) {
        flex-direction: column;

        height: 100vh;
        border-radius: 0;
        margin: 0;
    }

    &__sidebar {
        padding: 2rem;

        @include respond(tab-land) {
            padding: 2rem;
        }
    }
}



