@-webkit-keyframes rotationMove {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotationMove {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes flasher {
  0% {
    color: #fff; }
  50% {
    color: #79dd8a; }
  100% {
    color: #fff; } }

@keyframes flasher {
  0% {
    color: #fff; }
  50% {
    color: #79dd8a; }
  100% {
    color: #fff; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 75%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/bg.png) center no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.png) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.png) center no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    body {
      grid-template-columns: 100%;
      -webkit-box-pack: inherit;
      -webkit-justify-content: inherit;
      -ms-flex-pack: inherit;
      justify-content: inherit;
      -webkit-box-align: inherit;
      -webkit-align-items: inherit;
      -ms-flex-align: inherit;
      align-items: inherit; } }

.player-name {
  font-size: 2rem;
  color: #df7356;
  position: relative; }
  @media only screen and (max-width: 20.625em) {
    .player-name {
      font-size: 1.6rem; } }

.player-health {
  font-size: 1.8rem;
  background-color: #79dd8a;
  padding: 1rem;
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.btn-fire,
.btn-rotate,
.btn-new {
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.5rem;
  cursor: pointer; }
  .btn-fire i,
  .btn-rotate i,
  .btn-new i {
    margin-left: .5rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

@media only screen and (max-width: 20.625em) {
  .btn-fire,
  .btn-rotate {
    font-size: 2rem; } }

.btn-new {
  font-size: 1.8rem; }
  @media only screen and (max-width: 20.625em) {
    .btn-new {
      font-size: 1.6rem; } }

.flasher {
  -webkit-animation: flasher 1.5s infinite;
  animation: flasher 1.5s infinite; }

.cylinder {
  width: 65%; }
  @media only screen and (max-width: 56.25em) {
    .cylinder {
      width: 28vh; } }

.rotation {
  -webkit-animation: rotationMove .5s;
  animation: rotationMove .5s; }

.container {
  display: grid;
  grid-template-rows: 35vw 6.5rem;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas: 'player player cylinder' 'footer footer cylinder';
  border-radius: .5rem;
  background-color: #df7356;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 40vh 50vh 10vh;
      grid-template-columns: initial;
      grid-template-areas: 'player player-1' 'cylinder cylinder' 'footer footer';
      border-radius: initial;
      -webkit-box-shadow: initial;
      box-shadow: initial; } }

.player-0-panel,
.player-1-panel {
  background-color: #fff; }

.player-0-panel,
.player-1-panel {
  display: grid;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  padding: 2rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .player-0-panel,
    .player-1-panel {
      padding: 0 2rem;
      -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .player-0-panel__icon,
  .player-1-panel__icon {
    justify-self: center;
    width: 70%; }
    @media only screen and (max-width: 20.625em) {
      .player-0-panel__icon,
      .player-1-panel__icon {
        width: 60%; } }
  .player-0-panel__hp-icon,
  .player-1-panel__hp-icon {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 1.8rem;
    padding: 1rem; }
    .player-0-panel__hp-icon--start,
    .player-1-panel__hp-icon--start {
      justify-self: start; }

@media only screen and (max-width: 56.25em) {
  .player-0-panel {
    grid-area: player; } }

@media only screen and (max-width: 56.25em) {
  .player-1-panel {
    grid-area: player-1; } }

.active {
  background-color: #f0f0f0; }

.active .player-name,
.active .player-health {
  font-weight: 400; }

.active .player-name::after {
  content: '';
  height: .2rem;
  width: 30%;
  margin-left: 35%;
  display: block;
  position: absolute;
  background-color: #df7356;
  bottom: -1rem; }

.fade {
  -webkit-animation: fade .4s ease-in;
  animation: fade .4s ease-in; }

.cylinder-panel {
  background-color: #df7356;
  grid-area: cylinder;
  row-gap: 2.5rem;
  display: grid;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center; }

.footer {
  background-color: #626262;
  color: #f0f0f0;
  display: grid;
  row-gap: 1rem;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-area: footer; }
  @media only screen and (max-width: 20.625em) {
    .footer {
      grid-auto-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2rem;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .footer__rights {
    font-size: 1.4rem; }
  .footer__icon-box {
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none; }
  .footer__link {
    text-decoration: none; }
  .footer__icon {
    fill: #f0f0f0;
    height: 2rem;
    width: 2rem;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translate(-0.4rem, 0.2rem);
    -ms-transform: translate(-0.4rem, 0.2rem);
    transform: translate(-0.4rem, 0.2rem); }
    .footer__icon:hover {
      fill: #fff; }
      @media only screen and (max-width: 48em), only screen and (hover: none) {
        .footer__icon:hover {
          fill: #f0f0f0; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-area: footer; } }
