@keyframes rotationMove {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flasher {
  0% {
    color: #fff; }
  50% {
    color: #79dd8a; }
  100% {
    color: #fff; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 75%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.png) center no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    body {
      grid-template-columns: 100%;
      justify-content: inherit;
      align-items: inherit; } }

.player-name {
  font-size: 2rem;
  color: #df7356;
  position: relative; }
  @media only screen and (max-width: 20.625em) {
    .player-name {
      font-size: 1.6rem; } }

.player-health {
  font-size: 1.8rem;
  background-color: #79dd8a;
  padding: 1rem;
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.btn-fire,
.btn-rotate,
.btn-new {
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.5rem;
  cursor: pointer; }
  .btn-fire i,
  .btn-rotate i,
  .btn-new i {
    margin-left: .5rem;
    transition: all .5s; }

@media only screen and (max-width: 20.625em) {
  .btn-fire,
  .btn-rotate {
    font-size: 2rem; } }

.btn-new {
  font-size: 1.8rem; }
  @media only screen and (max-width: 20.625em) {
    .btn-new {
      font-size: 1.6rem; } }

.flasher {
  animation: flasher 1.5s infinite; }

.cylinder {
  width: 20vw; }
  @media only screen and (max-width: 56.25em) {
    .cylinder {
      width: 28vh; } }

.rotation {
  animation: rotationMove .5s; }

.container {
  display: grid;
  grid-template-rows: 35vw 6.5rem;
  grid-template-columns: 1fr 1fr 2fr;
  border-radius: .5rem;
  background-color: #df7356;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 40vh 50vh 10vh;
      grid-template-columns: 1fr 1fr;
      border-radius: initial;
      box-shadow: initial; } }

.player-0-panel,
.player-1-panel {
  background-color: #fff; }

@media only screen and (max-width: 56.25em) {
  .player-0-panel {
    grid-column: 1 / 2; } }

@media only screen and (max-width: 56.25em) {
  .player-1-panel {
    grid-column: 2 / 3; } }

.player-0-panel,
.player-1-panel {
  display: grid;
  align-content: space-between;
  padding: 2rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .player-0-panel,
    .player-1-panel {
      padding: 0 2rem;
      align-content: space-around;
      justify-content: center; } }
  .player-0-panel__icon,
  .player-1-panel__icon {
    justify-self: center;
    width: 70%; }
    @media only screen and (max-width: 20.625em) {
      .player-0-panel__icon,
      .player-1-panel__icon {
        width: 60%; } }
  .player-0-panel__hp-icon,
  .player-1-panel__hp-icon {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 1.8rem;
    padding: 1rem; }
    .player-0-panel__hp-icon--start,
    .player-1-panel__hp-icon--start {
      justify-self: start; }

.active {
  background-color: #f0f0f0; }

.active .player-name,
.active .player-health {
  font-weight: 400; }

.active .player-name::after {
  content: '';
  height: .2rem;
  width: 30%;
  margin-left: 35%;
  display: block;
  position: absolute;
  background-color: #df7356;
  bottom: -1rem; }

.fade {
  animation: fade .4s ease-in; }

.cylinder-panel {
  background-color: #df7356;
  display: grid;
  align-content: space-evenly;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .cylinder-panel {
      grid-column: 1 / -1; } }

.footer {
  background-color: #626262;
  color: #f0f0f0;
  display: grid;
  row-gap: 1rem;
  align-content: center;
  justify-content: center;
  grid-column: 1 / -1; }
  @media only screen and (max-width: 20.625em) {
    .footer {
      grid-auto-flow: column;
      align-items: center;
      padding: 0 2rem;
      justify-content: space-between; } }
  .footer__rights {
    font-size: 1.4rem; }
  .footer__icon-box {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    justify-content: center;
    list-style: none; }
  .footer__link {
    text-decoration: none; }
  .footer__icon {
    fill: #f0f0f0;
    height: 2rem;
    width: 2rem;
    transition: all .4s;
    transform: translate(-0.4rem, 0.2rem); }
    .footer__icon:hover {
      fill: #fff; }
      @media only screen and (max-width: 48em), only screen and (hover: none) {
        .footer__icon:hover {
          fill: #f0f0f0; } }
