* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }

body {
  color: #1F3F68;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-rendering: optimizeLegibility;
  position: relative; }

.heading-primary {
  font-size: 4.7rem;
  line-height: 7.4rem; }

.heading-secondary {
  color: #316099;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .3rem;
  line-height: 4.6rem; }
  .heading-secondary--big {
    font-size: 4.4rem; }
  .heading-secondary--small {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.5rem; }
  .heading-secondary--white {
    color: #fff; }
  .heading-secondary--news {
    color: inherit;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 6rem; }

.heading-tertiary {
  font-size: inherit;
  line-height: 3rem; }
  .heading-tertiary--ttu {
    text-transform: uppercase; }

.heading-quaternary {
  text-align: left;
  text-transform: uppercase;
  opacity: .8;
  line-height: 0; }
  .heading-quaternary--right {
    text-align: right; }

.paragraph {
  line-height: 2.6rem; }
  .paragraph--opacity {
    opacity: .6; }
  .paragraph--gray {
    color: inherit;
    font-size: inherit;
    opacity: .6; }

.mb-16px {
  margin-bottom: 1.6rem; }

.mb-20px {
  margin-bottom: 2rem; }

.mb-32px {
  margin-bottom: 3.2rem; }

.mb-56px {
  margin-bottom: 5.6rem; }

.mb-80px {
  margin-bottom: 8rem; }

.mb-86px {
  margin-bottom: 8.6rem; }

.mb-108px {
  margin-bottom: 10.8rem; }

.mb-158px {
  margin-bottom: 15.8rem; }

.mt-96px {
  margin-top: 9.6rem; }

.mr-93px {
  margin-right: 9.3rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  color: #fff;
  background-color: #5A98D0;
  padding: 1.5rem 4.8rem;
  border-radius: 1rem;
  font-weight: 700;
  transition: all 0.5s;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(0.2rem);
    background-color: #316099;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--w-100 {
  width: 100%;
  text-align: center; }

.btn--small:hover {
  color: #000;
  transform: translateY(0.2rem);
  background-color: #fff !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn-inline {
  color: #1F3F68;
  cursor: pointer; }
  .btn-inline:hover span {
    margin-left: 2.5rem; }
  .btn-inline--left, .btn-inline--right {
    width: 14rem; }
  .btn-inline--left {
    text-align: right;
    transform: translateX(-4rem); }
    .btn-inline--left:hover span {
      margin-right: 1rem; }
  .btn-inline--right {
    text-align: left;
    transform: translateX(4rem); }
    .btn-inline--right:hover span {
      margin-left: 1rem; }
  .btn-inline span {
    font-size: 2rem;
    margin-left: .5rem;
    transition: all 0.3s; }

.btn,
.btn-inline {
  display: inline-block;
  text-decoration: none; }

.logo {
  height: 3.2rem;
  width: 3.2rem;
  color: #1F3F68;
  font-size: 2.1rem;
  font-weight: 900;
  border: solid 0.3rem #316099;
  text-align: center;
  position: relative;
  background-color: #fff;
  cursor: pointer; }
  .logo:hover {
    color: #fff;
    background-color: #316099; }
    .logo:hover::before {
      left: -.3rem;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3); }
  .logo::before {
    content: '';
    position: absolute;
    top: -.3rem;
    left: -2rem;
    background-color: #316099;
    z-index: -1;
    transition: all 0.5s; }
  .logo--footer {
    font-size: 1.9rem;
    height: 2.9rem !important;
    width: 2.9rem !important; }
    .logo--footer::before {
      top: -.1rem;
      height: 2.6rem !important;
      width: 2.6rem !important;
      background-color: #98C3E8; }

.logo,
.logo::before {
  height: 3.2rem;
  width: 3.2rem;
  transition: all 0.5s;
  border-radius: 50%; }

.card {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1); }
  .card__img {
    width: 50%;
    margin: 4.8rem auto 4.8rem 20%; }
    .card__img--overflow {
      width: 65%;
      margin: 2rem auto 0 18%;
      transform: translateY(-4rem); }
  .card__content {
    padding: 0 5rem 5rem 5rem; }
  .card--offset {
    transform: translateX(2rem); }

.search {
  display: block;
  position: relative; }
  .search__input {
    width: 100%;
    padding: 1.9rem 2.7rem;
    background-color: #f4f4f4;
    border-radius: 1rem; }
    .search__input:placeholder-shown {
      font-size: inherit;
      padding-left: 7.2rem;
      display: inline-block;
      opacity: .6; }
  .search__btn {
    position: absolute;
    left: 2.7rem;
    top: 1.9rem;
    background: none;
    border: 0;
    cursor: pointer; }
    .search__btn::-moz-focus-inner {
      border: 0; }
  .search__input, .search__btn {
    border: none; }

.news-box {
  display: flex;
  flex-wrap: wrap; }

.news {
  display: flex; }
  .news--vertical {
    flex-direction: column-reverse;
    flex: 0 0 31.9%; }
    .news--vertical:not(:last-child) {
      margin-right: 2rem; }
  .news--invert {
    flex-direction: row-reverse; }
  .news__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%; }
    .news__content--wide {
      flex: 0 0 65%;
      margin-left: 2rem; }
  .news__footer {
    display: flex;
    align-items: center;
    margin-top: auto; }
  .news__user-box {
    font-size: 1.4rem;
    margin-right: 10rem; }
    .news__user-box--auto {
      margin-right: auto; }
  .news__bookmark a:link, .news__bookmark a:visited {
    display: inline-block; }
    .news__bookmark a:link:not(:last-child), .news__bookmark a:visited:not(:last-child) {
      margin-right: 3.8rem; }
  .news__user-name {
    margin-bottom: 1rem; }
  .news__user-date {
    opacity: .4; }
  .news__photo-box {
    height: 100%; }
    .news__photo-box--small {
      height: 20rem;
      width: 100%; }
  .news__photo {
    width: 100%;
    height: 100%; }

.contact-form {
  padding: 5.6rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1); }
  .contact-form__box {
    margin-bottom: 3.2rem; }
  .contact-form__label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: .8rem; }
  .contact-form__input, .contact-form__message {
    width: 100%;
    padding: 2.1rem 4.2rem;
    border-radius: 1rem;
    border: solid 0.1rem rgba(31, 63, 104, 0.4); }
    .contact-form__input:placeholder-shown, .contact-form__message:placeholder-shown {
      font-size: inherit;
      font-family: "Montserrat", sans-serif;
      opacity: .6; }
  .contact-form__message {
    resize: none;
    margin-bottom: 10.8rem; }
  .contact-form__messages {
    display: block;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    transform: translateY(-5rem); }
  .contact-form__success {
    color: #008000; }
  .contact-form__error {
    display: none;
    color: #ff0000; }

.map {
  overflow: hidden;
  position: relative;
  padding-bottom: 50%;
  height: 0; }

.map iframe {
  width: 94rem;
  height: 48rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0; }

.navigation__checkbox {
  display: none; }

.navigation__btn, .navigation__bg, .navigation__nav {
  position: fixed; }

.navigation__btn, .navigation__bg {
  border-radius: 50%; }

.navigation__icon {
  position: relative;
  margin-top: 1.9rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 2rem;
    height: .2rem;
    background-color: #1F3F68;
    transition: all 0.3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.7rem; }
  .navigation__icon::after {
    top: .7rem; }

.navigation__btn {
  height: 4.2rem;
  width: 4.2rem;
  border: solid 0.1rem #1F3F68;
  top: 2.6rem;
  right: 3rem;
  background-color: #fff;
  z-index: 6;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__bg {
  height: 3.2rem;
  width: 3.2rem;
  top: 3.1rem;
  right: 3.5rem;
  background: radial-gradient(#5A98D0, #1F3F68);
  z-index: 3;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  text-align: center;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style: none; }

.navigation__item {
  margin-bottom: 2rem; }

.navigation__link:link, .navigation__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s; }
  .navigation__link:link:hover, .navigation__link:visited:hover {
    color: #1F3F68;
    transform: scale(1.1); }

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(300); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }

.section-header {
  padding: 5rem 0;
  background: url(../img/blog/blog-bg.svg) center no-repeat;
  background-size: cover;
  text-align: center; }
  .section-header__paragraph {
    flex: 0 0 60%;
    font-size: 1.8rem;
    opacity: .6; }
  .section-header__box--white, .section-header__paragraph--white {
    color: #fff; }

.section-title {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  background-size: cover; }
  .section-title--vertical {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 60%; }
  .section-title__paragraph {
    flex: 0 0 60%;
    font-size: 1.8rem;
    opacity: .6; }
    .section-title__paragraph--white {
      color: #fff; }

.container {
  max-width: 94rem;
  margin: 0 auto; }
  .container a {
    text-decoration: none;
    color: inherit; }
  .container--flex {
    display: flex; }

.header {
  height: 100vh;
  padding: 3.2rem 5rem;
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(255, 255, 255, 0.2) 31.12%);
  background-size: cover;
  position: relative;
  z-index: 1; }
  .header__inner {
    height: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .header__text-box {
    flex: 0 0 55%; }
  .header__hero {
    position: absolute;
    right: 1%;
    width: 48%;
    z-index: 1; }

.what-we-do {
  padding: 8rem 0 0; }
  .what-we-do__left, .what-we-do__right {
    flex: 0 0 50%;
    padding: 5rem; }

.projects {
  padding: 8.4rem 0 19.2rem; }
  .projects__project {
    position: relative;
    border-radius: 1rem;
    height: 42.4rem; }
    .projects__project:first-child {
      margin-bottom: 9rem;
      width: 100%;
      background: linear-gradient(306.81deg, #1F3F68 0%, #1f3f685e 97.81%), url(../img/projects/project-1.png) center no-repeat;
      background-size: cover; }
      .projects__project:first-child::after {
        content: url(../img/projects/project-cover.svg);
        position: absolute;
        left: 0;
        bottom: -1rem; }
    .projects__project:nth-child(2) {
      background: linear-gradient(306.81deg, #1F3F68 0%, #1f3f685e 97.81%), url(../img/projects/project-2.png) center no-repeat;
      background-size: cover; }
    .projects__project:nth-child(3) {
      background: linear-gradient(306.81deg, #1F3F68 0%, #1f3f685e 97.81%), url(../img/projects/project-3.png) center no-repeat;
      background-size: cover; }
    .projects__project:nth-child(n+2) {
      flex: 0 0 45%; }
      .projects__project:nth-child(n+2):not(:last-child) {
        margin-right: 10%; }
  .projects__box {
    display: flex;
    flex-wrap: wrap; }
  .projects__content {
    position: absolute;
    top: 4.8rem;
    right: 6rem;
    color: #fff;
    text-align: right; }
    .projects__content--small {
      left: 3rem;
      text-align: left; }
  .projects__subtitle {
    opacity: .6;
    font-weight: 700; }

.clients {
  padding: 10rem 0;
  background-color: #5A98D0;
  border-top-left-radius: 15rem; }
  .clients__client-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none; }
  .clients__client-item:hover .clients__info {
    opacity: 1; }
  .clients__client-item {
    flex: 0 0 25%;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 4rem 3rem;
    position: relative;
    cursor: pointer; }
    .clients__client-item:nth-child(1), .clients__client-item:nth-child(2), .clients__client-item:nth-child(3), .clients__client-item:nth-child(5), .clients__client-item:nth-child(6), .clients__client-item:nth-child(7) {
      border-right: solid 0.1rem rgba(255, 255, 255, 0.5); }
    .clients__client-item:nth-child(-n+4) {
      border-bottom: solid 0.1rem rgba(255, 255, 255, 0.5); }
  .clients__info:link, .clients__info:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background-color: #1F3F68;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .5s ease-out; }

.blog__popular {
  padding: 3.2rem 0 5.6rem;
  border-bottom: solid 0.1rem #f4f4f4; }

.blog__all {
  padding: 5.6rem 0 9.6rem; }

.blog__slider {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.contact-us {
  padding-bottom: 9.6rem; }
  .contact-us__touch {
    display: flex; }
  .contact-us__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-top: 5.6rem;
    padding-right: 10rem; }
  .contact-us__img {
    margin-bottom: 5.6rem; }
  .contact-us__item {
    display: flex;
    align-items: center;
    font-size: inherit;
    margin-bottom: 1.6rem;
    opacity: .6; }
  .contact-us__icon {
    margin-right: 1.9rem; }
  .contact-us__right {
    flex: 0 0 50%; }

.footer {
  color: #fff;
  background-color: #316099;
  border-top-right-radius: 15rem;
  position: relative;
  z-index: 1; }
  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.1rem 0 10rem; }
    .footer__header::after {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      width: 82%;
      border: solid 0.1rem #f4f4f4;
      opacity: .2; }
  .footer__bottom {
    display: flex;
    padding: 9.8rem 0 0; }
  .footer__list {
    display: flex;
    flex-direction: column;
    list-style: none; }
    .footer__list:first-child {
      width: 50%;
      transform: translateY(1.5rem); }
    .footer__list:nth-child(-n+2) {
      padding: 0 10rem 0 0; }
  .footer__title {
    font-weight: 700;
    font-size: 2.8rem; }
    .footer__title:nth-child(1) {
      font-size: 2rem; }
  .footer__box {
    display: flex; }
    .footer__box a:link, .footer__box a:visited {
      color: #fff; }
    .footer__box div:not(:last-child) {
      margin-right: 1.6rem; }
    .footer__box:not(:last-child) {
      margin-bottom: 2.4rem; }
    .footer__box:first-child {
      align-items: center;
      margin-bottom: 3.2rem; }
  .footer__rights {
    opacity: .4;
    padding: 6.4rem 0; }

.pop-up__content {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  width: 80%;
  height: 80%; }

.pop-up__right {
  flex: 0 0 40%; }
  .pop-up__right figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
    padding: 1rem;
    background: linear-gradient(306.81deg, #1F3F68 0%, #1f3f685e 97.81%), url(../img/projects/project-2.png) center no-repeat;
    background-size: cover; }
    .pop-up__right figure figcaption {
      color: #fff;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      padding-top: 2rem; }
    .pop-up__right figure:nth-child(2) {
      background: linear-gradient(306.81deg, #1F3F68 0%, #1f3f685e 97.81%), url(../img/projects/project-3.png) center no-repeat;
      background-size: cover; }

.pop-up__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2.5rem;
  text-align: center; }

.pop-up__close:link, .pop-up__close:visited {
  left: 2rem; }

.pop-up-touch__close:link, .pop-up-touch__close:visited {
  right: 2rem; }

.pop-up-touch__content .contact-form {
  padding: 2rem 3rem 2.5rem; }
  .pop-up-touch__content .contact-form__message {
    margin-bottom: 3.2rem; }

.pop-up,
.pop-up-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }
  .pop-up__close:link, .pop-up__close:visited,
  .pop-up-touch__close:link,
  .pop-up-touch__close:visited {
    position: absolute;
    top: 1rem;
    color: #1F3F68;
    text-decoration: none;
    font-size: 4rem;
    transition: all 0.3s; }
    .pop-up__close:link:hover, .pop-up__close:visited:hover,
    .pop-up-touch__close:link:hover,
    .pop-up-touch__close:visited:hover {
      color: #356EAD; }
  .pop-up__content,
  .pop-up-touch__content {
    opacity: 0;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.5s 0.2s;
    transform: scale(0.25); }
  .pop-up:target,
  .pop-up-touch:target {
    opacity: 1;
    visibility: visible; }
  .pop-up:target .pop-up__content,
  .pop-up-touch:target .pop-up__content, .pop-up:target
  .pop-up-touch__content,
  .pop-up-touch:target
  .pop-up-touch__content {
    opacity: 1;
    transform: scale(1); }
