.footer {
    height: 6.3rem;
    width: 100%;
    background-color: $color-grey-dark-9;
    position: absolute;
    left: 0;
    bottom: 0;

    @include respond(phone-small) {
        display: none;
    }

    &__logo {
        color: $color-grey-dark-8 !important;
        transform: translateY(-.4rem);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 100%;
    }

    &__list {
        display: flex;

        height: 100%;
        margin-left: 3.5rem;

        @include respond(tab-land) {
            margin-left: 1.2rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        align-self: stretch;

        list-style: none;
        padding: 0 1.5rem;
        transition: $transition;
        cursor: pointer;

        @include respond(tab-land) {
            padding: 0 1rem;
        }

        &:hover {
            background-color: $color-grey-dark-7;
        }
    }

    &__link {
        color: $color-grey-light-6;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__copyright {
        color: $color-grey-light-7;
        font-size: 1.4rem;
        margin-left: auto;

        @include respond(tab-land) {
            display: none;
        }
    }
}


