.sidebar {
    flex: 0 0 22%;
    
    transform: translateX(-1rem);

    &__item {
        display: flex;
        align-items: center;

        height: 3.9rem;
        padding-left: 1rem;
        cursor: pointer;

        &--active {
            background-color: $color-grey-light-1;
            box-shadow: 0 .2rem .8rem rgba($color-black, .1);
        }
    }

    &__icon {
        fill: $color-grey-light-5;
        height: 1rem;
        width: 1rem;
    }

    &__number {
        font-size: 1.2rem;
        font-weight: 400;
        width: 1.9rem;
        text-align: center;
    }

    &__link {
        color: $color-grey-dark-5;
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-left: 1.7rem;

        &--m {margin-left: 2.8rem;}
    }
}

