// FONTS
$great-vibes-font: 'Great Vibes', cursive;
$baloo-paaji-font: 'Baloo Paaji 2', cursive;
$shadows-light-font: 'Shadows Into Light', cursive;

// COLORS
$color-gray-dark: #c5c4c4;
$color-white: #fff;
$color-black: #000;
$color-gray: #eee;

$color-purple: #606096;
$color-purple-dark: #7125a1;

$color-blue: #4373bf;
$color-blue-dark: #283da8;
$color-blue-light: #33a8d4;

$color-sand: #d9b152;
$color-sand-dark: #b3945b;

$color-mint: #31b69c;

$color-pink: #d240ad;

$color-red: #ff0808;

