body {
    color: $color-black;
    font-family: $font-roboto;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-rendering: optimizeLegibility;
}

h2 { 
    color: $color-black;
    font-size: 2rem; 
    transition: all .5s;

    &::after {
        content: '';
        display: block;
        background-color: $color-gold;
        width: 20%;
        height: .3rem;
        margin-top: 1rem;
    }

    @include respond(tab-port) { font-size: 2.5rem; }
    @include respond(tab-land) { font-size: 3rem; }
}

h3 {
    color: $color-white;
    font-weight: 4rem;
    letter-spacing: .2rem;

    @include respond(tab-port) { font-size: 3rem; }
}

h6 { display: none; }

p { 
    color: $color-black;
    line-height: 145%; 

    @include respond(tab-port) { font-size: 2rem; }
}

