.user-panel,
.user-panel__picture-box {
    border-radius: var(--b-10px);
    overflow: hidden;
}

.user-panel {
    width: 100%;
    box-shadow: var(--box-shadow-light);
    position: relative;

    &__header-box {
        & img { 
           width: 100%;
           display: block;
        }
    }

    &__picture-box {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -9rem);
        border-radius: var(--b-10px);
        border: solid .3rem var(--color-mint-dark);
        overflow: hidden;

        height: 10rem;
        width: 10rem;

        & img {
            display: block;

            height: 100%;
            width: 100%;
        }
    }

    &__text-box {
        text-align: center;
        background: linear-gradient(to right bottom, var(--color-mint-1), var(--color-mint-2));
        padding-bottom: 2rem;
        list-style: none;
    }
}




