.vocabulary-panel {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-gray-2);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--b-10px);
    overflow: hidden;

    &__add {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > input {
            flex: 1 1 10ch;

            outline: none;
            margin: 1rem 1rem 1rem;
        }

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        justify-content: space-evenly;

        box-shadow: var(--box-shadow-light);
        padding: 1.5rem;

        i { font-size: 2rem; }
    }

    &__add-from,
    &__add-into {
        width: 100%;
        color: inherit;
        background-color: var(--color-gray-1);
        border-radius: var(--b-5px); 
        font-size: 1.5rem; 
        padding: 1rem;
        border: 0;

        &:focus { background-color: var(--color-gray-1); }

        &:placeholder-shown { 
            color: inherit;
            font-size: 1.5rem; 
            text-transform: uppercase;
            background-color: var(--color-gray-1);
        }
    }

    &__btn {
        color: inherit;
        background: none;
        border: none;
        cursor: pointer;
        
        &:active { transform: translateY(.2rem); }

        svg { 
            fill: var(--color-black);
            height: 2.8rem;
            width: 2.8rem;
        }
    }
}





