.cta {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: url(../img/cta.jpg) bottom no-repeat;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem;

    @include respond(tab-port) { padding: 5rem; }

    & ul { list-style: none; }

    & img { height: 5rem }
}