.nav {
    z-index: 1000;

    &__list { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
        
        background-color: $color-white;
        position: absolute;
        padding: 1rem;
        width: 100%;
        top: 7rem;
        left: 0;

        @include respond(tab-port) { 
            opacity: 1;
            visibility: visible; 

            position: initial;
            width: initial;
            height: initial;
            background-color: initial;
        }
    }

    &__item { 
        display: inline-block;
        position: relative;

        @include respond(tab-port) { 
            &:hover {
                &::after { background: $color-blue; }
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3rem;
            background: transparent;
            width: 100%;
            height: .4rem;
            display: block;
            transition: $transition;
        }

        &:not(:last-child) { 
            margin-right: 2rem; 
        }
    }


    &__link {
        font-weight: 400;
        color: $color-primary;
        font-size: 2rem;
        text-decoration: none;
        transition: $transition;

        @include respond(tab-port) { 
            &:hover { color: $color-black; }
        }
    }
}

.burger {
    @include blue-border;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-blue;
    height: 4rem;
    width: 5rem;

    @include respond(tab-port) { display: none; }

    & span,
    & span::before,
    & span::after {
        height: .4rem;
        width: 3rem;
        background: $color-white;
        position: absolute;
        transition: $transition;
    }

    & span {
        &::before,
        &::after { 
            content: ''; 
            display: block;
        }

        &::before { top: -1rem; }

        &::after { top: 1rem; }
    }
}

// JS
.active { 
    opacity: 1;
    visibility: visible;
}

.burger-close {
    & span { 
        background-color: transparent;
    }

    & span::before { 
        top: 0;
        transform: rotate(45deg); 
    }

    & span::after { 
        top: 0;
        transform: rotate(-45deg); 
    }
}

